// all sizes for ie 11 and 10
@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.o-wrapper {

		&.o-wrapper-content {
			flex-direction: row;
		}
	}

	body.single-post .m-layout-primary,
	body.page .m-layout-primary {
		display: block;
	}

	.m-homepage-zones {

		// where the zones differ from the archives
		.m-zone {
			
			&.m-zone-homepage-more-top,
			&.m-zone-homepage-opinion {
	
				article {
					overflow: hidden;
				}
			}
		}
	}

	.m-entry-content .m-content-media img {
		width: 100%;
	}
	

	.o-archive-listing {

		&.m-layout-primary {
			display: block;
		}
	}

	@include breakpoint-min( md ) {
		.o-archive-listing {

			&.m-layout-primary {
				overflow-x: hidden;
			}
		}
	}

	.m-form-minnpost-form-processor-mailchimp {

		// full page forms
		&.m-form-fullpage {
	
			.m-subscribe-grouping {
	
				.m-subscribe-items {
					max-width: 50%;
					display: block;
				}
	
				.m-subscribe {
					max-width: 45%;
				}
			}
		}
	}
	
	.m-related {

		.a-related-list {
			flex: 1 0 100%;
		}
	}
	
}

// ie 10 and under only - dependent on modernizr
@include breakpoint-min( xxl ) {

	.no-borderimage .archive {

		.o-archive-listing {

			&.m-layout-primary {
				display: block;
				float: left;
				width: 100%;
			}
		}

		.o-site-sidebar {
			width: $size__site-sidebar;
			min-width: $size__site-sidebar;
			float: right;
			display: block;
		}
	}
	
}