// all sizes for ie 11 and 10
@media only screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	body.single-post .m-layout-primary, body.page .m-layout-primary {
		display: block;
	}
}

// size media queries for ie 11 and 10
@media only screen and (-ms-high-contrast:active), (-ms-high-contrast:none) and (min-width: $nav-breaks) {
	.o-archive-listing {
		&.m-layout-primary {
			max-width: $medium-screen;
			overflow-x: hidden;
		}
	}
}

@media only screen and (-ms-high-contrast:active), (-ms-high-contrast:none) and (max-width: $medium-margins-too-small) {
	.o-archive-listing {
		&.m-layout-primary {
			display: block;
		}
	}
}

// ie 10 and under only - dependent on modernizr
@media screen and (min-width: $medium-margins-too-small) and (max-width: $max-width-page) {
	.no-borderimage .archive {
		/*.o-wrapper-content {
			padding-right: $size__site-sidebar + $archive-content-sidebar-padding;
		}*/
		.o-archive-listing {
			&.m-layout-primary {
				display: block;
				float: left;
				width: 100%;
			}
		}
		.o-site-sidebar {
		    width: $size__site-sidebar;
		    min-width: $size__site-sidebar;
		    float: right;
		    display: block;
		}
	}
}
