// all sizes for ie 11 and 10
@media only screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	.a-site-branding {
		.a-logo-svg {
			z-index: 1;
			img {
				display: block;
				margin-top: 1px;
			}
		}
	}
}

// size media queries for ie 11 and 10
@media only screen and (-ms-high-contrast:active), (-ms-high-contrast:none) and (min-width: $nav-breaks) {
	.o-archive-listing {
		&.m-layout-primary {
			max-width: $medium-screen;
			overflow-x: hidden;
		}
	}
}

@media only screen and (-ms-high-contrast:active), (-ms-high-contrast:none) and (max-width: $medim-margins-too-small) {
	.o-archive-listing {
		&.m-layout-primary {
			display: block;
		}
	}
}