.float-right {
	float: right;
	clear: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
.float-left {
	float: left;
	clear: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.m-entry-content .image {
	img {
		display: block;
	}
}