.float-right,
.alignright,
.mp .alignright {
	margin-bottom: $standard-block-margin;

	@include breakpoint-min( xs ) {
		float: right;
		clear: right;
		margin-left: $standard-block-margin;
	}
	
}

.float-left,
.alignleft,
.mp .alignleft {
	margin-bottom: $standard-block-margin;

	@include breakpoint-min( xs ) {
		float: left;
		clear: left;
		margin-right: $standard-block-margin;
	}
}

.m-entry-content .image {

	img {
		display: block;
	}
}
