// hide text
@mixin hide-text {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}
// used like this
// @include hide-text;


@mixin gi-nums( $n, $max ) {

	%num-#{$n} {
		@content;
	}
	$i: $n;

	@while $i <= $max {

		.gi-#{$i} {
			grid-column: col-start / span $i;
		}
		$i: $i+$n;
	}
}
// used like this
// @include gi-nums(1, 12);

@mixin outer-container( $local-max-width: $max-width ) {

	@include clearfix;
	max-width: $local-max-width;
	margin: {
		left: auto;
		right: auto;
	}
	flex: 0 0 100%;
}
// used like this
.clearfix {

	@include clearfix;
}

// responsive iframes by ratio
@mixin generateRatios( $width, $height, $prefix: "ratio-" ) {
	$class-name: $prefix + $width + "x" + $height;

	.#{$class-name} {
		padding-bottom: ratio($width, $height);
	}
	// Output example: .ratio-16x9 {}
}
// used like this
//@include generateRatios(16,9); // 16x9
//@include generateRatios(4,3);  // 4x3

// font families

// body text
@mixin body-preset( $size, $bold: false, $italic: false, $line-height: "" ) {

	@include text-preset( $size, $line-height );
	font-family: $webfont__serif;
	font-size-adjust: 0.46;

	@if $bold {
		font-weight: 700;
	} @else {
		font-weight: 500;
	}

	@if $italic {
		font-style: italic;
	} @else {
		font-style: normal;
	}
}
// used like this: body-preset( $size: 3 );

// heading text
@mixin heading-preset( $size, $bold: true, $italic: false, $line-height: "" ) {

	@include text-preset( $size, $line-height );
	font-family: $webfont__serif;
	font-size-adjust: 0.46;

	@if $bold {
		font-weight: 900;
	} @else {
		font-weight: 500;
	}

	@if $italic {
		font-style: italic;
	} @else {
		font-style: normal;
	}
}
// used like this: @include heading-preset( $size: 3, $bold: false );

// meta text
@mixin meta-preset( $size, $bold: false, $italic: false, $line-height: "" ) {

	@include text-preset( $size, $line-height );
	font-family: $webfont__sans;
	font-size-adjust: 0.495;

	@if $bold {
		font-weight: 700;
	} @else {
		font-weight: 400;
	}

	@if $italic {
		font-style: italic;
	} @else {
		font-style: normal;
	}
}

// text sizes
@mixin text-preset( $size, $line-height: "" ) {
	//font-size: map-get( $text-sizes, $size ) + px;
	//font-size: map-get( $text-sizes, $size )/10 + rem;
	font-size: var(--scale#{ $size });
	//line-height: map-get( $line-heights, $size );
	line-height: var(--scale#{ $size });

	/*@include breakpoint-min( xs ) {
        line-height: map-get( $line-heights, $size ) * 1.25;
    } // 125%
    @include breakpoint-min( sm ) {
        line-height: map-get( $line-heights, $size ) * 1.5;
    } // 150%*/
}

// background colors
@mixin rgba-background( $hexcolor, $opacity ) {
	background-color: $hexcolor;
	background-color: rgba($hexcolor, $opacity);
}
