// type scale.
// uses Rob Weychert's code at https://24ways.org/2019/a-modern-typographic-scale/
// starts with the <html> element's font size value, so we
// should change that based on our media queries
:root {
	$font-size-interval: 1.125;    // Unitless for proportional, unit for fixed
	$body-text: 1em;  // Must have a unit
	$scale-min: -3;    // Unitless negative integer
	$scale-max: 4;     // Unitless positive integer

	--font-size-int: #{$font-size-interval};
	--scale0: #{$body-text};

	@if $scale-min < 0 {
		// Generate scale variables smaller than the base text size
		@for $i from -1 through $scale-min {

			@if type-of($font-size-interval) == number {

				@if unitless($font-size-interval) {
					--scale#{$i}: calc(var(--scale#{$i + 1}) / var(--font-size-int));
				} @else {
					--scale#{$i}: calc(var(--scale#{$i + 1}) - var(--font-size-int));
				}
			}
		}
	}

	@if $scale-max > 0 {
		// Generate scale variables larger than the base text size
		@for $i from 1 through $scale-max {

			@if type-of($font-size-interval) == number {

				@if unitless($font-size-interval) {
					--scale#{$i}: calc(var(--scale#{$i - 1}) * var(--font-size-int));
				} @else {
					--scale#{$i}: calc(var(--scale#{$i - 1}) + var(--font-size-int));
				}
			}
		}
	}
}

// line height scale
:root {
	$line-height-interval: 0.95;
	$body-line-height: 1.3;
	$line-height-scale-min: -3;    // Unitless negative integer
	$line-height-scale-max: 4;     // Unitless positive integer

	--line-height-int: #{$line-height-interval};
	--lh0: #{$body-line-height};

	@if $line-height-scale-min < 0 {
		// Generate scale variables smaller than the base text size
		@for $i from -1 through $line-height-scale-min {

			@if type-of($line-height-interval) == number {

				@if unitless($line-height-interval) {
					--lh#{$i}: calc(var(--lh#{$i + 1}) / var(--line-height-int));
				} @else {
					--lh#{$i}: calc(var(--lh#{$i + 1}) - var(--line-height-int));
				}
			}
		}
	}

	@if $line-height-scale-max > 0 {
		// Generate scale variables larger than the base text size
		@for $i from 1 through $line-height-scale-max {

			@if type-of($line-height-interval) == number {

				@if unitless($line-height-interval) {
					--lh#{$i}: calc(var(--lh#{$i - 1}) * var(--line-height-int));
				} @else {
					--lh#{$i}: calc(var(--lh#{$i - 1}) + var(--line-height-int));
				}
			}
		}
	}
}
