// color config
$_color-base-gray: rgb(122,122,122); // 7a7a7a
$_color-base-red: rgb(128,16,25); // 801018
$_color-base-blue: rgb(0,132,168); // 0084a8
$_color-base-yellow: rgb(251, 211, 65); // FBD341
$palettes: (
    grey: (
        base:  $_color-base-gray,
        light: lighten($_color-base-gray, 10%), // 949494
        dark: darken($_color-base-gray, 10%) // 616161
    ),
    red: (
        base:  $_color-base-red,
        light: lighten($_color-base-red, 10%),
        dark: darken($_color-base-red, 10%)
    ),
    blue: (
        base:  $_color-base-blue,
        light: lighten($_color-base-blue, 10%),
        dark: darken($_color-base-blue, 10%)
    ),
    purple: (
        base:   rgb(42,40,80),
        light:  rgb(51,46,140),
        dark:   rgb(40,38,65)
    ),
);

// Brand colors
$color__minnpost-red: palette(red);
$color__minnpost-black: #1a1818;
$color__minnpost-white: #f0f0f5;
$color__minnpost-blue: palette(blue);

// more minnpost colors
$color__minnpost-green: #469B61;
$color__minnpost-yellow: #FBD341; // 251, 211, 65
$color__minnpost-red-error: #c00; // probably?
$color__minnpost-red-required: #c00;

// Color Names
$color__black: #000;
$color__white: #fff;
$color__dark-gray: #333;

// Font Colors
$color__base-background-color: #fff;
$color__base-font-color: $color__dark-gray;
$color__heading-font-color: $color__dark-gray;
$color__action-color: $color__minnpost-red;
$color__text-main: #404040; // this is not used anywhere, i think

// Grays
$color__gray-lightest: #cdcdd0;
$color__gray-light: #ababab;
$color__gray-med: palette(gray);
$color__gray-dark: #404040;
$color__gray-darkest: #282828;
$color__gray-meta: #555556;
$color__gray-sub-menu: #ddd;

// Membership levels
$color__minnpost-bronze: #cd7f32;
$color__minnpost-silver: #c0c0c0;
$color__minnpost-gold: #ffd700;
$color__minnpost-platinum: #e5e4e2;

// background colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__minnpost-white;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

// form colors
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__form-text: #504949;

// link colors
$color__link: $color__minnpost-red;
$color__link-visited: $color__minnpost-red;
$color__link-hover: $color__minnpost-red;
$color__link-active: $color__black;

// border colors
$color__border-light: #c8c8c8;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;




// type
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__sans: Helvetica, Arial, sans-serif;
$font__serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font__headings: NimbusSanNovConD-Bol, Helvetica, Arial, Geneva, sans-serif;

// Base font sizes
$base-font-size: 13px; // 16px

// Line height
$base-line-height: 1.5;
$base-line-height-em: 1.5em;



// site structure
$max-width-medium: 680px;
$medium-margins-too-small: 700px;
$max-width-medium-plus-margins: 720px;
$max-width-page: 975px;
$max-width-story-2012: 452px;

$header-height-smaller-screen: 50px;
$header-height-small-screen: 76px;
$header-height-before-nav-breaks: 66px;
$header-height-after-nav-breaks: 71px;

$grid-gap: 10px;

// Neat Breakpoints
$small-screen: 480px;
$more-than-logo-screen: 500px;
$medium-screen: 640px;
$nav-breaks: 768px;
$nav-move-end: 810px;
$large-screen: 860px;
$nav-wrap-screen: 950px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// site region sizes
$size__main-smaller-screen: 50%;
$size__main-small-screen: 65%;
$size__main-large-screen: 400px;
$size__archive-medium-screen: 600px;
$size__site-sidebar: 300px;
$size__content-sidebar-small-screen: 280px;
$size__content-sidebar-medium-screen: 35%;
$size__content-sidebar-large-screen: 205px;

// footer
$size__footer-column: 270px;


// spacing
$standard-page-margin: 1.538461538461538em; // 20px
$home-content-sidebar-padding: 35px;
$archive-content-sidebar-padding: 15px;
$footer-box-spacing: 15px;
$form-text-indent: 6px;

// ads
$ad-top-width: 728px;
$ad-top-height: 90px;
$ad-top-right-width: 228px;
$ad-top-right-iframe-height: 90px;
$ad-embed-width: 300px;
$ad-embed-height: 250px;

// variables:
$top-ad-size: '728x90';

// backgrounds
$background-unpublished: #fff url('/wp-content/themes/minnpost-largo/assets/img/unpublished.png');
