// smallest screens just display as linear

@media screen and (min-width: $more-than-logo-screen) {
	.m-archive-has-sidebar {
		display: flex;
		.m-archive-excerpt {
			width: $size__main-small-screen;
		}
		.o-content-sidebar {
			width: $size__content-sidebar-medium-screen;
			padding-left: $archive-content-sidebar-padding;
		}
	}
}

@media screen and (min-width: $size__archive-medium-screen) {
	.m-archive-has-sidebar {
		.m-archive-excerpt {
			width: $size__main-smaller-screen;
		}
		.o-content-sidebar {
			width: $size__main-smaller-screen;
		}
	}
}

@media screen and (min-width: $medium-screen) {
	.m-archive-has-sidebar {
		.m-archive-excerpt {
			width: $size__main-small-screen;
		}
		.o-content-sidebar {
			width: $size__content-sidebar-medium-screen;
		}
	}
}

@media screen and (min-width: $medim-margins-too-small) {
	/*.archive .o-site-sidebar {
	    width: $size__site-sidebar;
	    min-width: $size__site-sidebar;
	    margin-left: auto;
	}
	.o-archive-listing {
		&.m-layout-primary {
			width: $size__main-large-screen;
			margin-right: $archive-content-sidebar-padding;
		}
		main {
			display: flex;
			flex-direction: column;
			.m-pagination {
				order: 1;
			}
		}
		.m-archive-excerpt-with-sidebar {
			width: auto;
			float: none;
		}
		.o-content-sidebar {
			margin-left: 0;
			padding-left: 0;
			width: $size__content-sidebar-small-screen;
			order: 2;
		}
	}*/
}

@media screen and (min-width: $nav-breaks) {
	/*.o-archive-listing {
		&.m-layout-primary {
			max-width: none;
			width: $size__main-small-screen;
			margin-right: 15px;
		}
		main {
			display: block;
		}
		.m-archive-excerpt-with-sidebar {
			width: $size__main-small-screen;
			float: left;
		}
		.o-content-sidebar {
			margin-left: 0;
			padding-left: $home-content-sidebar-padding;
			width: $size__content-sidebar-medium-screen;
			float: right;
		}
	}*/
}

@media screen and (min-width: $max-width-page) {
	.o-archive-listing {
		&.m-layout-primary {
			max-width: $medium-screen;
		}
	}
}