.o-archive-listing {
	&.m-layout-primary {
		//max-width: $size__archive-medium-screen;
	}
	.m-archive-excerpt-with-sidebar {
		width: $size__main-large-screen;
		float: left;
	}
	.o-content-sidebar {
		float: right;
		width: $size__content-sidebar-large-screen;
	}
}

// media queries for archive listing

@media screen and (min-width: $nav-breaks) {
	.archive .o-site-sidebar {
	    width: $size__site-sidebar;
	    min-width: $size__site-sidebar;
	    margin-left: auto;
	}
	.o-archive-listing {
		&.m-layout-primary {
			max-width: none;
			margin-right: 15px;
		}
		.m-archive-excerpt-with-sidebar {
			width: $size__main-small-screen;
		}
		.o-content-sidebar {
			float: right;
			width: $size__content-sidebar-medium-screen;
			margin-left: 0;
			padding-left: $archive-content-sidebar-padding;
		}
	}
}

@media screen and (min-width: $max-width-page) {
	.o-archive-listing {
		&.m-layout-primary {
			max-width: $medium-screen;
		}
	}
}