.o-content-message {
	&.o-content-message-homepage {
		width: 100%;
		margin-bottom: $standard-page-margin;
		border-bottom: 1px solid $color__gray-lightest;
		.o-content-message-homepage-body {
			background: $_color-base-blue;
			color: $color__white;
			margin-bottom: $standard-page-margin;
			padding: 2em 0;
			header {
				font-size: 1.2em;
				margin-right: 1em;
				line-height: 1.2;
			}
			h3, h4 {
				font-family: $font__headings;
				font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
				font-weight: normal;
				font-style: normal;
				font-variant: normal;
			}
			h3 {
				font-size: 215.4%;
			}
			h4 {
				font-size: 138.5%;
			}
			.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {
				fieldset {
					border: 0;
					margin: 0;
					padding: 2.5em 0 1em 0;
					width: 100%;
					max-width: 55%;
					input {
						color: $color__dark-gray;
						width: 100%;
						max-width: 100%;
					}
					label, a, a:visited {
						color: $color__white;
					}
				}
				.m-form-container {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					padding: 0 1.5em;
				}
				p {
					width: 100%;
					a {
						color: $color__border-light;
					}
				}
			}
		}
	}
}