.o-comments-area {

	ol {
		list-style: none;
		margin: 0 0 $standard-page-margin 0;
		padding: 0;
		outline: 1px solid $color__gray-lightest;
		border: $archive-content-sidebar-padding solid $color__minnpost-white;
		background: $color__minnpost-white;
		overflow-x: hidden;

		li {
			padding: $standard-page-margin 0;
			padding-bottom: $standard-page-margin / 2;
			background: $color__white;
			margin: 0 0 $standard-page-margin 0;

			&.o-comment-unpublished {
				background: $background-unpublished;
			}

			&.o-comment-by-current-user {
				background: $color__white;
			}
		}

		> li {
			padding: $standard-page-margin;
		}

		ul.children {
			list-style: none;
			padding: 0;
			margin-left: $standard-block-margin;
		}

		.comment-respond {
			margin: 0 0 $standard-page-margin 0;
		}

		.sce-edit-comment {
			margin-top: 1em;
		}

		.sce-edit-button {
			margin: 1em 0;
			padding: 0.5em;
			border: 1px solid $color__gray-lightest;
			font-size: 76.9%;
			text-transform: uppercase;
			line-height: 1.3em;
			font-family: $font__sans;

			span {
				display: inline-block;
			}

			.sce-timer {
				color: $color__gray-meta;
			}
		}

		.sce-textarea {

			.sce-comment-textarea textarea {
				margin-bottom: 1em;
			}

			.sce-comment-edit-buttons {

				button {
					margin-bottom: 0.5em;
				}
			}
		}
	}
}

.single {

	.o-comments-area {

		@include breakpoint-min( lg ) {
			width: colspan( 16, 12 );
		}
	}
}