.o-comments-area {

	@include body-preset( $size: -2 );

	ol {
		list-style: none;
		margin: $standard-block-padding 0;
		padding: 0;
		overflow-x: hidden;

		li {
			margin: 0;
			padding: 0;
			position: relative;
		}

		> li {
			margin: 0 0 $standard-block-margin 0;
		}

		.o-comment {
			padding: $standard-block-padding;
			border-bottom: $border-default-style;
			margin: 0 0 0 $standard-block-padding;

			&.o-comment-unpublished {
				background: $background-unpublished;
			}

			&.o-comment-by-current-user {
				background: neutral-color(white);
			}
		}

		ul.children {
			list-style: none;
			padding: 0;
			margin: 0;

			.o-comment {
				border-left: $border-default-style;
			
				$depths: 10; // from wordpress settings

				@for $d from 1 through $depths {
					$border-width: $d * 1;

					&.depth-#{$d} {
						border-left-width: #{$border-width}px;
					}
				}
			}
		}

		.m-comment-meta {
			padding-bottom: $standard-block-padding;
		}

		.m-comment-entry {
			padding: 0 0 $standard-block-padding 0;
		}

		.sce-edit-comment {
			margin-top: 1em;
		}

		.sce-edit-button {
			margin: 1em 0;
			padding: 0.5em;
			border: 1px solid $color__gray-lightest;
			font-size: 76.9%;
			text-transform: uppercase;
			line-height: 1.3em;
			font-family: $font__sans;

			span {
				display: inline-block;
			}

			.sce-timer {
				color: $color__gray-meta;
			}
		}

		.sce-textarea {

			.sce-comment-textarea textarea {
				margin-bottom: 1em;
			}

			.sce-comment-edit-buttons {

				button {
					margin-bottom: 0.5em;
				}
			}
		}
	}

	.comment-respond {
		margin: 0 0 $standard-block-margin 0;
	}
}

.single {

	article {
		> #llc_comments,
		> .o-comments-area {
			z-index: 10;

			@include breakpoint-min( lg ) {
				width: colspan( 16, 12 );
			}
		}
	}
}
