.o-entry {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include breakpoint-range( sm, lg ) {
		flex-direction: row;
	}

	@include breakpoint-min( xl ) {
		flex-direction: row;
	}

	.m-entry-content {

		@include breakpoint-range( sm, lg ) {
			max-width: colspan( 10, 12 );
		}

		@include breakpoint-min( xl ) {
			max-width: colspan( 10, 12 );
		}
	}

	&.o-entry-horizontal {
		flex-direction: column;	

		.m-entry-content {
			max-width: 100%;
		}
	}
	
}
