.o-footer {
	background: neutral-color(black);
	color: neutral-color(white);

	.o-footer-hat {
		display: flex;
		justify-content: space-between;
		flex-flow: row;
		flex-wrap: wrap;
		margin: $standard-block-margin 0 0 0;

		section {
			flex: auto;
			margin-bottom: $standard-block-margin;

			&.m-widget-sponsor-list {
				border: $border-default-style;
				outline: $standard-block-padding solid neutral-color(highlight);
				background: neutral-color(white);
				color: neutral-color(black);
				padding: $standard-block-padding;
				width: 100%;
				max-width: none;

				h3 {

					@include heading-preset();
				}
			}

			.a-heading-donor-thanks {
				background: neutral-color(highlight);
				padding: $standard-block-padding;
			}

			.a-tagline-bottom {

				@include meta-preset( $size: 0, $bold: false, $italic: false, $line-height: 1 );

				@include breakpoint-min( xs ) {

					@include meta-preset( $size: 1, $bold: false, $italic: false, $line-height: 1 );
				}
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin-bottom: $standard-block-padding;
				}
			}
		}
	}

	nav {
		margin: 0;
		padding: $standard-block-padding 0;
	}

	.o-footer-links {

		@include meta-preset( $size: 0, $bold: false, $italic: false, $line-height: 1 );
		word-wrap: break-word;
		padding: $standard-block-padding * 0.5 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		a:link,
		a:visited {
			color: utility-color(blue, highlight);
		}

		a:hover,
		a:focus,
		a:active,
		a.active,
		.active > a {
			color: utility-color(blue, background);
		}

		.a-footer-message {

			@include meta-preset( $size: -1, $bold: false, $italic: false, $line-height: 1 );
			text-align: center;
			margin-bottom: $standard-block-margin;
		}
	}
}
