.o-footer {
	.o-footer-hat {
		display: flex;
		justify-content: space-between;
		flex-flow: row;
		padding: 0 30px 20px 15px;
		section {
			display: none;
			width: 29.0322580645161%;
			border: 1px solid $color__gray-lightest;
			outline: 15px solid $color__minnpost-white;
			background: $color__white;
			padding: 15px;
			font-size: 92.3%;
			font-family: $font__sans;
			&.m-widget-sponsor-list {
				font-size: 100%;
				.a-widget-title {
					padding-top: 0;
				}
			}
			.a-widget-title {
				color: $color__minnpost-red;
				font-size: 123.1%;
				text-transform: none;
				font-family: $font__sans;
				font-weight: normal;
				font-style: normal;
				font-variant: normal;
				margin-bottom: 0.75em;
				padding-top: 1px;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					margin-bottom: 0.5em;
				}
			}
		}
		&.o-footer-hat-two {
			section {
				flex: 1;
				width: auto;
				margin-right: 30px;
				&.m-footer-donors {
					flex: 3;
					margin: 0;
					ul.donors {
						list-style: none;
						columns: 2 auto;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}
	.o-footer-links {
		font-family: $font__sans;
		word-wrap: break-word;
		border-top: 1px solid $color__gray-lightest;
		margin-top: 20px;
		padding-top: 10px;
	}
	.a-footer-message {
		font-size: 92.3%;
		text-align: center;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: $medim-margins-too-small) {
	.o-footer {
			.o-footer-hat {
			section {
				display: block;
			}
		}
	}
}