.o-footer {
	.o-footer-hat {
		display: flex;
		justify-content: space-between;
		flex-flow: row;
		padding: 0 30px 20px 15px;
		section {
			width: 29.0322580645161%;
			border: 1px solid $color__gray-lightest;
			outline: 15px solid $color__minnpost-white;
			background: $color__white;
			padding: 15px;
		}
	}
	.o-footer-links {
		font-family: $font__sans;
		word-wrap: break-word;
		border-top: 1px solid $color__gray-lightest;
		margin-top: 20px;
		padding-top: 10px;
	}
}