.o-homepage-listing {
	display: flex;
	flex: 1 100%;
	border-bottom: $border-default-style;
	margin-bottom: $standard-block-margin;
	//flex-wrap: wrap;

	&.o-homepage-listing-top-story {
		border-bottom: 0;
		margin-bottom: 0;;
	}

	&.o-homepage-listing-more-top-stories {
		order: 4;
		@include breakpoint-min( xxl ) {
			order: unset;
		}
	}

	&.o-homepage-listing-spills {
		margin: 0 -$standard-heading-margin;
	}

	aside {
		margin-left: $standard-block-margin;
	}

	.o-content-sidebar {
		@include breakpoint-min( xxl ) {
			//padding-left: 0;
			//margin-left: $home-content-sidebar-padding;
			//width: $size__content-sidebar-large-screen;
		}
	}
}

// smallest screens just display as linear

/*@media screen and (min-width: $more-than-logo-screen) {

	.o-homepage-listing {

		.m-zone-homepage-bottom {
			width: $size__main-smaller-screen;
		}

		.o-content-sidebar {
			padding-left: $standard-block-margin;
			margin-left: 0;
			width: $size__main-smaller-screen;
		}
	}
}

@media screen and (min-width: $medium-screen) {

	.o-homepage-listing {

		.m-zone-homepage-bottom {
			width: $size__main-small-screen;
		}

		.o-content-sidebar {
			padding-left: $standard-block-margin;
			margin-left: 0;
			width: $size__content-sidebar-medium-screen;
		}
	}
}

@media screen and (min-width: $medium-margins-too-small) {

	.o-homepage-listing {

		.m-zone-homepage-bottom {
			width: $size__main-large-screen;
		}

		.o-content-sidebar {
			margin-left: 0;
			padding-left: $home-content-sidebar-padding;
			width: $size__content-sidebar-small-screen;
		}
	}
}

@media screen and (min-width: $nav-breaks) {

	.o-homepage-listing {

		.m-zone-homepage-bottom {
			width: $size__main-small-screen;
		}

		.o-content-sidebar {
			margin-left: 0;
			padding-left: $home-content-sidebar-padding;
			width: $size__content-sidebar-medium-screen;
		}
	}
}
*/
