.o-homepage-listing {
	main {
		//width: 65%;
	}
	.o-content-sidebar {
		//margin-left: 35px;
		//width: 35%;
	}
}

// media queries for homepage items

@media screen and (min-width: $more-than-logo-screen) {
	.o-homepage-listing {
		main {
			width: $size__main-small-screen;
		}
		.o-content-sidebar {
			margin-left: $content-sidebar-margin;
			width: $size__content-sidebar-small-screen;
		}
	}
}

@media screen and (min-width: $max-width-page) {
	main {
		width: $size__main-large-screen;
	}
	.o-content-sidebar {
		width: $size__content-sidebar-large-screen;
	}
}