.o-header {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: $font__sans;
}

.a-site-branding {
	grid-column: col-start / span 4;		
}

.o-header .m-secondary-navigation {
	grid-column: 5 / 7;
	grid-template: repeat(2, [row] 1fr) / repeat(5, [col] 1fr);
	grid-gap: $grid-gap;
	width: 647px;
	#minnpost-network {
		grid-row: 1;
		grid-column: col 5 / span 2;
	}
	.search-form {
		grid-row: 1;
		grid-column: col 11 / span 1;
	}
	#secondary-links {
		grid-row: 2;
		grid-column: col 6 / span 6;
	}
}