.o-partner-offers {

    .m-entry-header,
    .m-entry-content {
        width: 100%;

        @include breakpoint-min( sm ) {
            display: flex;
            flex-wrap: wrap;
        }

        @include breakpoint-min( lg ) {
            width: colspan( 8, 12 );
            max-width: calc((100% - #{colspan( 1, 12 )}) - #{$size__site-sidebar} );
        }

        @include breakpoint-min( xl ) {
            width: colspan( 12, 16 );
            max-width: calc((100% - #{colspan( 1, 16 )}) - #{$size__site-sidebar} );
        }
    }

    .m-entry-content {
        margin-bottom: 0;
    }
}