


// media queries for sidebars
@media screen and (min-width: $more-than-logo-screen) {
	.o-content-sidebar {
		margin-top: 0.5em; // this might be universally good but i am not sure yet
	}
}

@media screen and (min-width: $max-width-page) {
	.o-site-sidebar {
	    width: $size__site-sidebar;
	    margin-left: auto;
	}
}