// message container
.o-site-message-container {
	@include meta-preset();
	font-size: $interface-copy-size-smaller;
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3 {
		@include meta-preset( $size: inherit, $bold: true );
		margin-bottom: $standard-heading-margin;
	}

	// add a default assumption of horizontally centering
	// the image and editor and banner containers
	.m-wp-insert-message-images,
	.m-wp-insert-message-editor,
	.m-wp-insert-message-item-banner {
		max-width: $max-width-page;
	}
	@include grid( m-wp-insert-message-images );
	@include grid( m-wp-insert-message-editor );

	// regions, no matter what type of message they are
	// this can override default grid styles when needed

	// site header
	&.wp-message-inserter-message-region-header {
		margin-bottom: $standard-block-padding;
	}

	// above article body
	// article bottom
	&.wp-message-inserter-message-region-above_article_body,
	&.wp-message-inserter-message-region-article_bottom {
		margin-bottom: $standard-block-margin;

		.m-wp-insert-message-images,
		.m-wp-insert-message-editor {
			margin-left: 0;
			margin-right: 0;
		}
	}

	// banner wrapper
	.m-wp-insert-message-item-banner {

		&.banner-width-page {
			max-width: $max-width-page;
		}
		@include grid( banner-width-page );

		.dual-wrap {

			@include breakpoint-min( sm ) {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				max-width: $max-width-page;
				margin: 0 auto;
			}
		}
		@include grid( dual-wrap );
	}

	// Popup specifics
	&.wp-message-inserter-message-region-popup {

		// banner wrapper
		.m-wp-insert-message-item-banner {

			// column wrapper
			.dual-wrap {

				// columns
				.col {
					padding-top: $standard-block-padding * 2;
					padding-bottom: $standard-block-padding * 2;
				}

				.col:first-of-type {
					padding-left: 0
				}

				.col:last-of-type {
					padding-left: 0
				}
			}
		}



		// default styles for the editor type
		&.wp-message-inserter-message-editor {

			.m-wp-insert-message-item {
				max-width: $max-width-page;
			}
			@include grid( m-wp-insert-message-item );
		}
	}

	input {
		color: neutral-color(black); // set a default text color and background color for input fields
		background: neutral-color(white);
		border: 0; // by default, they shouldn't need a border
	}

	// site header and homepage middle
	&.wp-message-inserter-message-region-homepage_middle,
	&.wp-message-inserter-message-region-header {

		header {
			//font-size: 1.2em;
			margin-right: 1em;
			line-height: 1.2;
		}

		h3,
		h4 {
			/*font-family: $font__headings;
			font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
			font-weight: normal;
			font-style: normal;
			font-variant: normal;*/
		}

		h3 {
			//font-size: 215.4%;
		}

		h4 {
			//font-size: 138.5%;
		}
	}

	// homepage middle 
	&.wp-message-inserter-message-region-homepage_middle {
		width: 100%;
		order: 1;
		border-radius: $border-radius;
		padding-top: $standard-block-padding;
		border-top: $border-default-style;
		margin-bottom: $standard-block-margin;
		border-bottom: $border-default-style;

		.m-wp-insert-message-item {
			background: utility-color(blue, medium);
			border-radius: $border-radius;
			color: neutral-color(white);
			margin-bottom: $standard-block-margin;
			padding: $standard-block-margin 0;
		}

		// mailchimp form inside a homepage middle
		.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

			fieldset {
				border: 0;
				margin: 0;
				padding: 2.5em 0 1em 0;
				width: 100%;
				max-width: 100%;

				input {
					width: 100%;
					max-width: 100%;
				}

				label {
					color: neutral-color(white);

					a:link,
					a:visited {
						@include link-underline(neutral-color(white), neutral-color(white));
					}

					a:hover,
					a:focus,
					a:active {
						@include link-underline(neutral-color(highlight), neutral-color(highlight));
					}
				}
			}

			.m-form-container {
				padding: 0 $standard-block-margin;
			}
		}

		// after the form has been submitted
		.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

			.m-form-message {
				margin: 0;
				padding: 1em;
				width: 100%;
				max-width: 100%;
				color: neutral-color(white);
				//font-size: $content-font-size;
				//line-height: $base-line-height;
			}

			fieldset {
				display: none;
			}
		}
	}

	// article bottom
	&.wp-message-inserter-message-region-article_bottom {
		background: utility-color(blue, background);
		border-radius: $border-radius;
		margin-bottom: $standard-block-margin;

		@include breakpoint-min( lg ) {
			width: 100%;
		}

		@include breakpoint-min( xl ) {
			width: 100%;
		}

		.m-wp-insert-message-item {
			padding: 1.25em; // this basically matches the sum of the legacy padding

			// reset styles for legacy
			.m-form-container,
			.m-form-instory {
				padding: 0;

				h3,
				p {
					margin: 0;
					padding: 0;
				}
			}

			> h3,
			> p {
				margin: 0;
				padding: 0;
			}

			> h3 {
			    /*font-size: 138.5%;
			    line-height: 1.15em;
			    text-transform: uppercase;
				font-family: $font__headings;
				font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
				font-weight: normal;
				font-style: normal;
				font-variant: normal;*/
			}

			fieldset {
				margin: 0;
				padding: $standard-block-padding * 2 0;

				input {
					border: $border-default-style;
				}
			}
		}

		// mailchimp form inside article bottom
		.m-form-instory.m-form-minnpost-form-processor-mailchimp {
			border: 0;
		}
	}
}

// media queries for site message container
@include breakpoint-min( xs ) {

	.o-site-message-container {

		// homepage middle
		&.wp-message-inserter-message-region-homepage_middle {

			.m-wp-insert-message-item {

				// mailchimp form inside homepage middle
				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

					fieldset {
						max-width: 75%;
					}
				}

				// after submitting
				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

					.m-form-message {
						max-width: 75%;
					}
				}
			}
		}
	}
}

@include breakpoint-min( sm ) {

	.o-site-message-container {

		// homepage middle
		&.wp-message-inserter-message-region-homepage_middle {

			.m-wp-insert-message-item {

				// mailchimp form inside homepage middle
				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

					.m-form-container {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;

						fieldset {
							max-width: 55%;
						}
					}
				}

				// after submitting
				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

					.m-form-message {
						max-width: 55%;
					}
				}
			}
		}
	}
}

@include breakpoint-min( xxl ) {

	.o-site-message-container {

		// homepage middle
		&.wp-message-inserter-message-region-homepage_middle {
			order: unset;
		}
	}
}
