.o-site-message-container {
	@include meta-preset( $size: -1, $bold: false, $italic: false, $line-height: 1 );

	h2,
	.h2,
	h3,
	.h3 {
		@include meta-preset( $size: inherit, $bold: true );
	}

	// add a default assumption of horizontally centering
	// both the image and editor containers
	.m-wp-insert-message-images,
	.m-wp-insert-message-editor {
		max-width: $max-width-page;
	}

	// banner wrapper
	.m-wp-insert-message-item-banner {

		&.banner-width-page {
			max-width: $max-width-page;
		}

		.dual-wrap {

			@media screen and (min-width: $max-width-medium) {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				max-width: $max-width-page;
				margin: 0 auto;
			}
		}
	}

	// Popup specifics
	&.wp-message-inserter-message-region-popup {

		// default styles for the editor type
		&.wp-message-inserter-message-editor {

			.m-wp-insert-message-item {
				max-width: $max-width-page;
			}
		}
	}

	// site header and homepage middle
	&.wp-message-inserter-message-region-homepage_middle,
	&.wp-message-inserter-message-header {

		header {
			//font-size: 1.2em;
			margin-right: 1em;
			line-height: 1.2;
		}

		h3,
		h4 {
			/*font-family: $font__headings;
			font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
			font-weight: normal;
			font-style: normal;
			font-variant: normal;*/
		}

		h3 {
			//font-size: 215.4%;
		}

		h4 {
			//font-size: 138.5%;
		}
	}

	// homepage middle 
	&.wp-message-inserter-message-region-homepage_middle {
		width: 100%;
		order: 1;
		padding-top: $standard-page-margin;
		border-top: 1px solid $color__gray-lightest;
		margin-bottom: $standard-page-margin;
		border-bottom: 1px solid $color__gray-lightest;

		.m-wp-insert-message-item {
			background: $_color-base-blue;
			color: $color__white;
			margin-bottom: $standard-page-margin;
			padding: 2em 0;
		}

		// mailchimp form inside a homepage middle
		.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

			fieldset {
				border: 0;
				margin: 0;
				padding: 2.5em 0 1em 0;
				width: 100%;
				max-width: 100%;

				input {
					color: $color__dark-gray;
					width: 100%;
					max-width: 100%;
				}

				label {
					color: $color__white;

					a,
					a:visited {
						color: $color__border-light;
					}
				}
			}

			.m-form-container {
				padding: 0 1.5em;
			}
		}

		// after the form has been submitted
		.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

			.m-form-message {
				margin: 0;
				padding: 1em;
				width: 100%;
				max-width: 100%;
				color: $color__white;
				//font-size: $content-font-size;
				//line-height: $base-line-height;
			}

			fieldset {
				display: none;
			}
		}
	}

	// article bottom
	&.wp-message-inserter-message-region-article_bottom {
		border: 1px solid $color__border-light;

		.m-wp-insert-message-item {
			padding: 1.25em; // this basically matches the sum of the legacy padding

			// reset styles for legacy
			.m-form-container,
			.m-form-instory {
				padding: 0;

				h3,
				p {
					margin: 0;
					padding: 0;
				}
			}

			> h3,
			> p {
				margin: 0;
				padding: 0;
			}

			> h3 {
			    /*font-size: 138.5%;
			    line-height: 1.15em;
			    text-transform: uppercase;
				font-family: $font__headings;
				font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
				font-weight: normal;
				font-style: normal;
				font-variant: normal;*/
			}

			fieldset {
				margin: 0;
				padding: 1em 0;
			}
		}

		// mailchimp form inside article bottom
		.m-form-instory.m-form-minnpost-form-processor-mailchimp {
			border: 0;
		}
	}
}

// media queries for site message container
@media screen and ( min-width: $more-than-logo-screen ) {

	.o-site-message-container {

		// homepage middle
		&.wp-message-inserter-message-region-homepage_middle {

			.m-wp-insert-message-item {

				// mailchimp form inside homepage middle
				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

					fieldset {
						max-width: 75%;
					}
				}

				// after submitting
				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

					.m-form-message {
						max-width: 75%;
					}
				}
			}
		}
	}
}

@media screen and ( min-width: $max-width-medium ) {

	.o-site-message-container {

		// homepage middle
		&.wp-message-inserter-message-region-homepage_middle {

			.m-wp-insert-message-item {

				// mailchimp form inside homepage middle
				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

					.m-form-container {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;

						fieldset {
							max-width: 55%;
						}
					}
				}

				// after submitting
				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

					.m-form-message {
						max-width: 55%;
					}
				}
			}
		}
	}
}

@media screen and ( min-width: $max-width-page ) {

	.o-site-message-container {

		// homepage middle
		&.wp-message-inserter-message-region-homepage_middle {
			order: unset;
		}
	}
}
