.o-site-message-container {

	&.wp-message-inserter-message-region-homepage_middle,
	&.wp-message-inserter-message-header {
		header {
			font-size: 1.2em;
			margin-right: 1em;
			line-height: 1.2;
		}

		h3,
		h4 {
			font-family: $font__headings;
			font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
			font-weight: normal;
			font-style: normal;
			font-variant: normal;
		}

		h3 {
			font-size: 215.4%;
		}

		h4 {
			font-size: 138.5%;
		}
	}

	&.wp-message-inserter-message-region-homepage_middle {
		width: 100%;

		.m-wp-insert-message-item {
			background: $_color-base-blue;
			color: $color__white;
			margin-bottom: $standard-page-margin;
			padding: 2em 0;
		}
	}

	&.wp-message-inserter-message-region-homepage_middle {
		order: 1;
		padding-top: $standard-page-margin;
		border-top: 1px solid $color__gray-lightest;
		margin-bottom: $standard-page-margin;
		border-bottom: 1px solid $color__gray-lightest;

		.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

				fieldset {
					border: 0;
					margin: 0;
					padding: 2.5em 0 1em 0;
					width: 100%;
					max-width: 100%;

					input {
						color: $color__dark-gray;
						width: 100%;
						max-width: 100%;
					}

					label {
						color: $color__white;

						a,
						a:visited {
							color: $color__border-light;
						}
					}
				}

				.m-form-container {
					padding: 0 1.5em;
				}
			}

			.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

				.m-form-message {
					margin: 0;
					padding: 1em;
					width: 100%;
					max-width: 100%;
					color: $color__white;
					font-size: $content-font-size;
					line-height: $base-line-height;
				}

				fieldset {
					display: none;
				}
			}
	}
}

@media screen and ( min-width: $more-than-logo-screen ) {

	.o-site-message-container {

		&.wp-message-inserter-message-region-homepage_middle {

			.m-wp-insert-message-item {

				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

					fieldset {
						max-width: 75%;
					}
				}

				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

					.m-form-message {
						max-width: 75%;
					}
				}
			}
		}
	}
}

// media queries for content message boxes
@media screen and ( min-width: $max-width-medium ) {

	.o-site-message-container {

		&.wp-message-inserter-message-region-homepage_middle {

			.m-wp-insert-message-item {

				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp {

					.m-form-container {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;

						fieldset {
							max-width: 55%;
						}
					}
				}

				.m-form-frontpage.m-form-minnpost-form-processor-mailchimp-submitted {

					.m-form-message {
						max-width: 55%;
					}
				}
			}
		}
	}
}

@media screen and ( min-width: $max-width-page ) {

	.o-site-message-container {

		&.wp-message-inserter-message-region-homepage_middle {
			order: unset;
		}
	}
}
