.o-site-sidebar {

	&#secondary-first {
		order: 2;
	}

	&#secondary-second {
		order: 4;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		section {
			width: 100%;
		}
	}
}


// media queries for sidebars

@include breakpoint-min( xs ) {

	.o-site-sidebar {

		width: $size__site-sidebar;
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}

@include breakpoint-min( sm ) {

	.o-site-sidebar {

		&#secondary-first {
			display: flex;
		}
	}
}

//@media screen and (min-width: $nav-wrap-screen) {
@include breakpoint-min( lg ) {
	.o-site-sidebar {
		width: $size__site-sidebar;
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		&#secondary-first,
		&#secondary-second,
		&#secondary-third {
			order: unset;
		}

		&#secondary-first,
		&#secondary-second {

			section {
				margin-top: auto;
			}
		}

		&#secondary-first {

			.m-ad-region,
			.acm-ad-container-bordered {
				margin-top: 0;
			}
		}

		&#secondary-second,
		&#secondary-third {

			section {
				width: 100%;
			}
		}

		.o-site-sidebar#secondary-first :first-child,
		.o-site-sidebar#secondary-second :first-child {
			margin-top: 0;
		}
	}
}
