.o-wrapper {
	max-width: 100%;
	margin-left: 1.25em;
	margin-right: 1.25em;
	position: relative;
	&.o-wrapper-content {
		display: flex;
		margin-bottom: 40px;
	}
}

body.post .o-wrapper-content, body.page .o-wrapper-content {
	flex: 0 0 100%;
}
// media queries for wrapper
@media screen and (min-width: $nav-breaks) {
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: $max-width-page) {
	.o-wrapper {
		@include outer-container($max-width-page);
	}
}