.o-festival-vip-packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include meta-preset( $size: -3, $bold: false, $italic: false, $line-height: 1 );

    &.o-festival-vip-package-details {
        max-width: 70ch;
        @include meta-preset( $size: -2, $bold: false, $italic: false, $line-height: 1 );
    }

    .a-festival-tier-name {
        @include meta-preset( $size: 3, $bold: true, $italic: false, $line-height: 1 );
    }

    .a-festival-tier-price {
        @include meta-preset( $size: 1, $bold: false, $italic: false, $line-height: 1 );
    }

    .m-festival-tier {
        border: $border-default-style;
        border-radius: $border-radius;
        margin-bottom: $standard-block-margin;
        padding: $standard-block-padding;
        width: 100%;

        &:nth-child(odd) {
            background: neutral-color(highlight);
        }

        &:nth-child(even) {
            background: neutral-color(white);
        }

        @include breakpoint-min( sm ) {
            width: colspan(3, 6);
        }
    
        @include breakpoint-min( lg ) {
            width: colspan(6, 12);
        }
    
        @include breakpoint-min( xl ) {
            width: colspan(2, 10);
        }
    }
}
