@import "../../sass/variables-legacy";

#content .a-entry-title,
#content .m-entry-meta,
#content .m-entry-share-top,
#content .m-related {
	display: none;
}

.mp {

	.minnpost-full-container {
		max-width: 975px;
	}

	header.banner {
		margin-left: auto;
		margin-right: auto;
		max-width: 640px;

		img {
			display: block;
			max-width: 100%;
			margin-bottom: 20px;
		}
	}

	#show header.banner {
		max-width: 900px;
	}

	.text-block {
		max-width: 960px;
	}

	.banner .text-block {
		padding-bottom: 20px;
		text-align: center;
	}

	.sponsors {

		li {
			list-style: none;
		}

		.sponsor-level {
			break-inside: avoid;
		}
	}

	.navigation {

		a {
			color: #b05959;

			&:hover,
			&:focus,
			&:active {
				color: rgba(176, 89, 89, 0.5);
			}

			&.selected {
				color: #000;
			}
		}

		.x {
			display: none;
			cursor: pointer;
			color: #b05959;
			min-width: 75px;
			padding: 0.25em 0.5em;
			margin-left: 15px;

			&:hover,
			&:focus {
				color: rgba(176, 89, 89, 0.5);
			}
		}

		nav {
			position: relative;
			display: flex;

			ul {
				display: flex;
				height: 2.5em;
				overflow: hidden;
				flex-wrap: wrap;
				list-style: none;
				padding: 0;
				width: 100%;
				justify-content: space-between;

				> li {
					font-size: 1em;
				}
			}

			&.open {

				ul {
					height: auto;
					display: block;
				}

				.x {
					color: #000;
				}
			}
		}

		&.horizontal {

			nav ul li {
				float: none;
			}

			ul li + li {
				margin-left: 0;
			}

			nav.open ul li + li {
				margin-left: 0;
			}
		}
	}

	div.image {
		padding: 15px;

		&.video-grid {

			a {
				position: relative;
				width: 213px;
				height: 160px;
				display: inline-block;
				vertical-align: top;
				margin-bottom: 8px;
			}

			img {
				display: block;
				max-width: 213px;
				max-height: 120px;
				vertical-align: top;
			}

			p {
				padding-top: 4px;
				height: 36px;
				color: #167ac6;
				font-family: helvetica, arial, sans-serif;
				font-size: 13px;
				font-weight: 700;
				line-height: 16.9px;
			}
		}
	}

	.sub-image {
		float: right;
		margin-left: 0.5em;
	}

	.inset-box {
		max-width: 400px;
		padding: 2em;
		background-color: #ccdaed;
		float: right;
		margin-right: 3em;
		margin-left: 2em;
	}

	h4 {
		clear: both;
	}

	h6 {
		clear: both;
		border-top: 1px solid #ccc;
		padding-top: 20px;
		margin-top: 25px;
		font-size: 1em;
	}

	.purchase-option:first-of-type {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid #bbb;
	}

	.btn {
		appearance: none;
		-webkit-font-smoothing: antialiased;
		background-color: #801019;
		border-radius: 3px;
		border: none;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		line-height: 1;
		padding: 0.65em 1em;
		text-decoration: none;
		user-select: none;
		white-space: nowrap;

		&:hover,
		&:focus {
			text-decoration: none;
		}

		&:active {
			position: relative;
			top: 1px;
		}

		&.next {
			background-color: #801019;
			color: #fff;

			&:hover,
			&:focus {
				background-color: #670000;
				color: #fff;
			}
		}

		&.sub {
			background: #ddd;
			color: #000;

			&:hover,
			&:focus {
				background-color: #bbb;
				color: #000;
			}
		}
	}

	.actions {

		div {
			width: 48%;
			float: left;
			border: 1px solid #ddd;
			margin-right: 2%;
			padding: 0.5em;

			&:last-child {
				margin-right: 0;
				float: right;
			}
		}
	}
}

@media (max-width: 950px) {

	.mp {

		.navigation .x {
			display: inline-block;
		}
	}
}

@media (max-width: 765px) {

	.mp {

		.actions .btn:first-of-type {
			margin-bottom: 15px;
		}

		.sub-image {
			float: none;
			margin-left: 0;
		}
	}
}

@media (max-width: 480px) {

	.mp {

		.actions {

			div {
				width: 90%;
				float: none;
				margin-bottom: 15px;
				margin-left: auto;
				margin-right: auto;

				&:last-child {
					float: none;
					margin-bottom: 15px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		.sponsors {
			column-count: 1;
			margin-left: 0;
		}
	}
}
