*,
*::before,
*::after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

// root elements
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: neutral-color(black);
	background: neutral-color(white);
}

body {
	margin: 0 auto;
	padding: 0;
	color: neutral-color(black);
	background: neutral-color(white);
}

main {
	position: relative;
	max-width: 100%;
	flex: 0 0 100%;
}

hr {
	background-color: neutral-color(border);
	border: 0;
	height: 1px;
	margin-bottom: $standard-block-margin;
}

// images
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

a svg {
	pointer-events: none;
}

figure {
	margin: $standard-block-margin 0; /* Extra wide images within figure tags don't overflow the content area. */
}

// forms
label {
	display: inline-block;
}

input:not([type=submit]),
select,
textarea {
	max-width: 100%; // sometimes there'll be more specific sizes, but we should never go over 100% here
	line-height: normal;
	color: neutral-color(black);
	border-radius: $border-radius;
	border: $border-default-style;
}

[data-autoresize] {
	resize: none;
	box-sizing: border-box;
}
