html {
	font-size: 125%; // 100% is 16px

	@include breakpoint-min( xl ) {
		font-size: 150%;
	}
}

// default
body {

	@include body-preset( $size: 0 );
}

// links
a {
	@include link-underline();
	transition: $hover-transition;

	&:visited {
		@include link-underline();
	}

	&:active,
	&:focus,
	&:hover {
		@include link-underline(utility-color(blue, medium), utility-color(blue, background));
	}

	&:active,
	&:focus {
		//outline: none;
	}

	&.active {
		@include link-underline(utility-color(blue, medium), utility-color(blue, background));
	}
}

// headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0;
	padding: 0;
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	// if we want a top margin, we need to use padding
	margin: 0 0 $standard-heading-margin 0;
	padding: 0;
}

/*h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin-top: 0;
}*/

h1,
.h1 {

	@include heading-preset( $size: 4 );
}

h2,
.h2 {

	@include heading-preset( $size: 3 );
}

h3,
.h3 {

	@include heading-preset( $size: 2 );
}

h4,
.h4 {

	@include heading-preset( $size: 1 );
}

h5,
.h5 {

	@include heading-preset( $size: 0 );
}

h6,
.h6 {

	@include heading-preset( $size: 0, $bold: false );
}

body.single main h1 + * ~ * {
	max-width: 85ch;
}

// paragraphs
p {
	margin: 0 0 $standard-block-margin 0;
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

// quotes
blockquote,
q {
	quotes: "" "";

	&::before,
	&::after {
		content: "";
	}
}

blockquote {

	@include body-preset( $size: 1 );
	border-left: 5px solid $color__border-light;
	margin-left: 0;
	padding: 0 0 $standard-block-padding $standard-block-margin;
	margin-bottom: $standard-block-margin;
}

// form elements
label {

	@include body-preset( $size: 0 );
}

input,
textarea,
select {

	@include body-preset( $size: 0, $line-height: normal );
}

input[type="submit"],
button[type="submit"],
button[type="button"],
a.a-button {
	// put something here
}

// lists
ul,
ol {
	margin: 0 0 $standard-block-margin 1em;
	padding: 0;

	li {
		margin: 0 0 $standard-heading-margin 0;
		padding: 0 0 0 $standard-block-padding / 2;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 2em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 $standard-block-margin $standard-block-margin;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
