.o-email {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    //background-color: neutral-color(white);
    color: neutral-color(black);
    background-color: neutral-color(highlight); // temp
}
