.o-email {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: neutral-color(black);
    //background-color: neutral-color(highlight); // temp
    background-color: neutral-color(white);
}
