.o-columns.o-header {
    background-color: neutral-color(white);
    color: neutral-color(black);

    @media (prefers-color-scheme: dark ) {
        color: neutral-color(white) !important;
        background-color: neutral-color(black) !important;
    }

    table.outlook-table {

        td.outlook-inner-padding {
            padding: 0;
        }
    }

    @include column( $selector: '.o-column.a-logo', $max-width: 74%, $mobile-spacing-only: 'false');
    @include column( $selector: '.o-column.m-support-cta', $max-width: 24%, $mobile-spacing-only: 'true', $spacing: $standard-block-padding 0 0 0);
}

.o-columns.o-header.o-header-no-menu {
    padding: 0 0 $standard-heading-margin 0;
}