.o-navigation {
    background-color: neutral-color(white);
    color: neutral-color(black);
    @media (prefers-color-scheme: dark ) {
        color: neutral-color(white) !important;
        background-color: neutral-color(black) !important;
    }
    padding-bottom: $standard-heading-margin;

    @include column( $selector: '.o-column.o-navigation', $max-width: 100%);
}