.o-rows.o-site-message,
.o-columns.o-site-message {
    border-radius: $border-radius;
    margin-bottom: $standard-block-margin;

    &.wp-message-inserter-message-region-email_middle {
        margin-bottom: $standard-block-margin;
    }

    &.o-columns {
        @include column( $selector: '.o-column.o-site-message-column-text', $max-width: 64%, $text-align: left, $spacing: $standard-block-padding, $desktop-spacing-only: 'false', $mobile-spacing-only: 'false');
        @include column( $selector: '.o-column.o-site-message-column-button', $max-width: 34%, $spacing: $standard-block-padding, $desktop-spacing-only: 'false', $mobile-spacing-only: 'false');
    }

    &.o-rows {
        @include column( $selector: '.o-site-message-row', $max-width: 100%, $text-align: left, $vertical-align: top, $spacing: $standard-block-padding, $desktop-spacing-only: 'false', $mobile-spacing-only: 'false');
    }

    td.outlook-outer-padding {
        padding-bottom: $standard-block-margin;
    }

    .o-row,
    .o-column {
    
        div.item-contents {
            @include meta-preset( $size: 0 );
        }

        &.o-site-message-row.o-site-message-row-button {

            div.item-contents {
                padding-top: 0;
                text-align: center;
                margin-bottom: $standard-block-margin;
            }
        }
    }
}