.o-section-editors-stories {
    border-radius: $border-radius;
    background-color: neutral-color(light);
    padding: $standard-block-padding;
    //margin-bottom: $standard-block-margin;

    @media (prefers-color-scheme: dark ) {
        background-color: neutral-color(dark) !important;
    }

    .m-post-newsletter-last {
        padding-bottom: 0;
        
        .post-contents {
            padding-bottom: $standard-block-padding;
            border-bottom: none;
        }
    }
}
