.o-single-column.o-section-editors-stories {
    border-radius: $border-radius;
    background-color: neutral-color(light);
    padding: $standard-block-padding;
    margin: 0 0 $standard-block-margin 0;

    @media (prefers-color-scheme: dark ) {
        background-color: neutral-color(dark) !important;
    }

    table.outlook-table {

        td.outlook-outer-padding {
            padding: 0 0 $standard-block-margin 0;
        }

        table.outlook-background-border {
            background-color: neutral-color(light) !important;

            @media (prefers-color-scheme: dark ) {
                background-color: neutral-color(dark) !important;
            }
        }

        td.outlook-inner-padding {
            padding: $standard-block-padding;
        }
    }

    .m-post-newsletter-last {
        padding: 0;
        
        .post-contents {
            padding: 0 0 $standard-block-padding 0;
            border-bottom: none;
        }
    }
}
