// message container
// we don't currently use this at all, maybe we can delete it
.o-site-message-container {

	@include meta-preset();
	font-size: $interface-copy-size-smaller;

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4 {

		@include meta-preset( $size: inherit, $bold: true );
		margin-bottom: $standard-heading-margin;
	}

	// add a default assumption of horizontally centering
	// the image and editor and banner containers
	.m-wp-insert-message-images,
	.m-wp-insert-message-editor,
	.m-wp-insert-message-item-banner {
		max-width: $large-screen-width;
	}

	// regions, no matter what type of message they are
	// this can override default grid styles when needed

	// email header
	&.wp-message-inserter-message-region-email_header {
		margin: $standard-block-padding 0;
	}

	// banner wrapper
	.m-wp-insert-message-item-banner {

		&.banner-width-page {
			max-width: $large-screen-width;
		}

		.dual-wrap {

			// need a media query here
		}
	}

	// email header
	&.wp-message-inserter-message-region-email_header {

		h3,
		.h3,
		h4,
		.h4 {
			margin: 0;
		}

		h3,
		.h3 {

			@include meta-preset( $size: 4, $bold: true );
		}

		h4,
		.h4 {

			@include meta-preset( $size: 3, $bold: false );
		}
	}
}
