div.o-wrapper {
    margin: $standard-block-padding / 2 auto;
    width: $max-width-email-percent;
    max-width: $max-width-email;
    background-color: neutral-color(white);
    color: neutral-color(black);
}

table.o-wrapper {
    width: $max-width-email;

    > td {
        padding: $standard-block-padding 0;
    }
}

@media only screen and (max-width: $mobile-screen-width) {
    /* Targets Gmail */
    u ~ div .o-wrapper {
        min-width: 100vw;
    }
    /* Targets Gmail on Android */
    div > u ~ div .o-wrapper {
        min-width: 100%;
    }
}