.a-festival-branding {
    line-height: 0.9;
    font-size: var(--scale4);
    margin-bottom: $standard-block-padding / 2;
}

.m-festival-branding-landing-page .a-festival-branding {
    font-size: 300%;
    margin-bottom: $standard-block-padding;
}
