.a-festival-title {

    a {

		&:link,
		&:visited {
			@include link-underline();
		}

		&:active,
		&:focus,
		&:hover,
		&.active {

			@include link-underline(utility-color(blue, medium), utility-color(blue, background));
		}
	}
}

.m-festival-post-event-featured .a-festival-title {
	margin: 0 0 $standard-block-padding 0;
}

.m-speaker-headings {

	h1 {
		margin-bottom: 0;
	}
	
	h2, h3, h4 {
		margin-bottom: $standard-block-padding * 0.5;
	}

	:last-child {
		margin-bottom: $standard-heading-margin;
	}
}

h2.a-speaker-job-title {
	@include meta-preset( $size: 1, $bold: false, $italic: false, $line-height: 1 );
}

h4.a-speaker-job-title {
	@include meta-preset( $size: 0, $bold: false, $italic: false, $line-height: 1 );
}
