.a-sponsor-list {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: $standard-block-margin;

    &.a-sponsor-list-level-one {
	}
    
    li {
        margin-bottom: $standard-block-margin;
        padding: 0;

        figure {
            justify-content: center;
            border: $border-default-style;
            border-radius: $border-radius;
            padding: $standard-block-padding;
            margin-bottom: $standard-block-padding;
        }

        p {
            margin-bottom: $standard-heading-margin;
        }

        .a-sponsor-content {
            @include meta-preset( $size: -1 );
            max-width: 70ch;
            //padding: $standard-block-padding;
        }

        .a-sponsor-twitter,
        .a-sponsor-url {
            font-weight: bold;
        }
    }

    &.a-sponsor-list-level-two {
        grid-column-gap: $standard-block-margin;
    
        @include breakpoint-min( sm ) {
            grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        }
    
        @include breakpoint-min( lg ) {
            grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        }
    }

    &.a-sponsor-list-level-three,
    &.a-sponsor-list-level-four {

        grid-column-gap: $standard-block-margin;
    
        @include breakpoint-min( sm ) {
            grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        }
    
        @include breakpoint-min( lg ) {
            grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        }
    }
    
}