.a-archive-links {
	display: inline-flex;
	margin: 0.75em 0;
	font-size: 76.9%;
	text-transform: uppercase;
	line-height: 1.3em;
	font-family: $font__sans;
	background: #fff;
	border: 1px solid $color__gray-lightest;
	padding: 4px;
	margin-bottom: 10px;
	margin-left: 1px;
	li {
		list-style: none;
		&.a-rss-link a {
			background: url(assets/img/icons/rss.png) no-repeat;
		}
		&.a-email-link a {
			background: url(assets/img/icons/email.png) no-repeat;
			background-size: 13px 13px;
		}
		&.a-twitter-link a {
			background: url(assets/img/icons/twitter.png) no-repeat;
			background-size: 13px 13px;
		}
		&.a-bio-link a, &.a-internal-link a {
			background: url(assets/img/icons/internal.png) no-repeat;
			background-size: 13px 13px;
		}
		a {
			padding-left: 16px;
			padding-top: 2px;
			margin-right: 10px;
			color: $color__minnpost-black;
			line-height: 16px;
		}
	}
	&:first-child {
		margin-top: 16px;
		padding: 6px;
	}
}