.appnexus-ad {
	position: relative;
	font-size: 13px;
	line-height: normal;
	&.appnexus-ad-placeholder {
		text-align: center;
		background-color: $color__black;
		color: $color__white;
		padding: 30px 0;
	}
	.ad-overlay {
		position: absolute;
		background-color: $color__black;
		color: $color__white;
		padding: 2px;
		font-size: .5em;
		text-align: center;
	}
	img {
		max-width: none;
		max-height: none;
	}
}

.ad-top {
	width: 100%;
}

.ad-topleft {
	height: 22px;
	text-align: left;
	&.appnexus-ad-placeholder {
		text-align: left;
		line-height: 1.3;
		padding: 0;
	}
}

.ad-topright {
	height: auto;
	max-width: 228px;
	float: right;
	.ad-overlay {
		top: 0;
		right: 0;
	}
	&.ad-support {
		height: 90px;
		text-align: center;
		background: $color__minnpost-black;
		color: $color__white;
		&.appnexus-ad-placeholder {
			padding: 0;
		}
		nav {
			background: $color__minnpost-black;
			width: 228px;
			text-align: left;
			font-family: $font__sans;
			h2 {
				text-indent: 200%;
				white-space: nowrap;
				overflow: hidden;
				background: $color__minnpost-red url('assets/img/support.png') no-repeat 14px 10px;
				margin: 0 0 1px 0;
				padding: 13px 0 8px 0;
			}
			ul, li {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li {
				padding: 8px 14px;
				font-weight: bold;
			}
			a {
				color: $color__white;
				&:after {
					content: ' ▸';
				}
			}
		}
	}
}

.o-site-sidebar .appnexus-ad {
	&.appnexus-ad-placeholder {
		margin-bottom: 20px;
		text-align: center;
	}
}

// media queries
@media screen and (min-width: 728px) {
	.ad-top {
		width: 728px;
		float: left;
	}
	.ad-support {
		float: right;
	}
}