.acm-ad-container {

	&.acm-ad-container-bordered {
		border-bottom: $border-default-style;
    	border-left: 0;
		border-right: 0;
	}

	.a-text-around-ad {
		color: neutral-color(medium);
	}
}

.acm-ad {
	position: relative;
	width: auto;
	height: auto;
	overflow: hidden;
	@include meta-preset( $size: -1, $bold: false, $italic: false, $line-height: 1 );

	&.acm-ad-placeholder {
		text-align: center;
		background-color: neutral-color(black);
		color: neutral-color(white);
		padding: 29px 0;
		line-height: 1.3em;
	}

	.ad-overlay {
		position: absolute;
		background-color: neutral-color(black);
		color: neutral-color(white);
		padding: 2px;
		font-size: 0.5em;
		text-align: center;
	}
}

main .ad-middle,
main .ad-Middle,
main .ad-x100,
main .ad-x101,
main .ad-x102,
main .ad-x103,
main .ad-x104,
main .ad-x105,
main .ad-x106,
main .ad-x107,
main .ad-x108,
main .ad-x109,
main .ad-x110 {
	margin: $standard-block-padding / 2 0 $standard-block-margin 0;
	display: flex;
	justify-content: center;
	flex-direction: row;

	&.acm-ad-placeholder {
		width: $ad-embed-width;
		height: $ad-embed-height;
		margin-left: auto;
		margin-right: auto;
	}
}

.ad-middle3,
.ad-Middle3 {
	border-bottom: $border-default-style;
	padding: $standard-block-margin / 2;

	div {

		@include clearfix;
	}
}

.acm-ad.ad-halfpage {

	&.acm-ad-placeholder {
		width: $ad-halfpage-width;
		height: $ad-halfpage-height;
	}
}

// sponsored ad on homepage
.acm-ad-wrapper.ad-middle3,
.acm-ad-wrapper.ad-Middle3 {
	margin-bottom: $standard-block-margin;
	border-bottom: $border-default-style;
	background-color: neutral-color(light);
	padding-bottom: $standard-block-padding;

	.ad-middle3,
	.ad-Middle3 {
		margin-bottom: 0;
		border-bottom: 0;
	}

	header {
		text-transform: uppercase;
		@include meta-preset( $size: -2, $bold: false, $italic: false, $line-height: 1 );
		padding: $standard-block-padding;
		margin-bottom: $standard-heading-margin;
		color: neutral-color(medium);
	}
}

.o-site-sidebar .acm-ad {

	@include clearfix;
	margin-bottom: $standard-block-margin;

	&.acm-ad-placeholder {
		text-align: center;
	}
}

.acm-ad-container {

	.acm-ad {
		margin-bottom: $standard-block-padding;
	}
}

// media queries for ads
