input[type="submit"], button[type="submit"], a.a-button:link, a.a-button:visited {
	padding: 0.25em;
	font-size: $base-line-height-em;
	font-weight: normal;
	background: $color__minnpost-red;
	color: $color__white;
	font-family: $font__headings;
	font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
	font-style: normal;
	font-variant: normal;
	border: 0;
	display: inline-block;
	margin-right: 0.5em;
	cursor: pointer;
	line-height: 23px;
	&:hover, &:focus, &:active {
		background: palette(red, dark);
		color: $color__white;
		text-decoration: none;
	}
	&:disabled, &.a-button-disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
	&.a-button-flip {
		background: $color__minnpost-blue;
		&:hover, &:focus, &:active {
			background: palette(blue, dark);
		}
	}
}
.a-button-sentence {
	a.a-button:link, a.a-button:visited {
		margin-right: 0;
	}
}

// overwrite gravityforms button style
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input[type=submit] {
	font-size: $base-line-height-em;
	margin-bottom: 0;
}