.a-breadcrumbs {
	display: flex;
}
.a-breadcrumb {
	font-weight: 700;
	font-size: $content-font-size;
	line-height: $base-line-height-em;
	font-family: $font__sans;
	margin-right: $standard-block-padding / 2;

	a {
		text-decoration: none;
	}

	&.a-category-group {

		a {
			display: inline-block;
			padding: 0 $standard-block-padding;
			border-radius: $border-radius;
			color: neutral-color(white);
			background-color: neutral-color(black);

			&:hover,
			&:focus,
			&:active {
				background-color: neutral-color(dark);
			}
		}
	}

	&.a-category-group-news {

		a {
			background-color: brand-color(red, medium);

			&:hover,
			&:focus,
			&:active {
				background-color: brand-color(red, dark);
			}
		}
	}

	&.a-category-group-opinion {

		a {
			background-color: utility-color(purple, dark);

			&:hover,
			&:focus,
			&:active {
				background-color: utility-color(purple, medium);
			}
		}
	}

	&.a-category-name {

		a {
			color: brand-color(red, medium);

			&:hover,
			&:focus,
			&:active {
				color: brand-color(red, dark);
			}
		}
	}
}
