.a-breadcrumbs {
	display: flex;
	align-items: center;
}
.a-breadcrumb {
	@include meta-preset( $size: 0, $bold: true, $italic: false, $line-height: 1 );
	margin-right: $standard-block-padding / 2;

	a {

		&:link,
		&:visited {
			text-decoration: none;
		}
	}

	&.a-category-group {

		a {
			display: inline-block;
			padding: 0 $standard-block-padding;
			border-radius: $border-radius;
			color: neutral-color(white);
			background-color: neutral-color(black);

			&:hover,
			&:focus,
			&:active {
				background-color: neutral-color(dark);
			}
		}
	}

	&.a-category-name {
		line-height: 1;
	}
}


// when there's a category group on the breadcrumb
.a-breadcrumbs {
	.a-category-group {

		a {
			display: inline-block;
			padding: 0 $standard-block-padding;
			border-radius: $border-radius;
			color: neutral-color(white);
			background-color: neutral-color(black);

			&:hover,
			&:focus,
			&:active {
				background-color: neutral-color(dark);
			}
		}
	}

	&.a-breadcrumbs-news,
	&.a-breadcrumbs-arts-culture {

		.a-category-group {

			a {
				background-color: brand-color(red, medium);

				&:hover,
				&:focus,
				&:active {
					background-color: brand-color(red, dark);
				}
			}
		}

		.a-category-name {

			a {
				color: brand-color(red, medium);

				&:hover,
				&:focus,
				&:active {
					@include link-underline(brand-color(red, dark), brand-color(red, medium));
				}
			}
		}
	}

	&.a-breadcrumbs-opinion {

		.a-category-group {

			a {
				background-color: utility-color(purple, dark);

				&:hover,
				&:focus,
				&:active {
					background-color: utility-color(purple, medium);
				}
			}
		}

		.a-category-name {

			a {
				color: utility-color(purple, dark);

				&:hover,
				&:focus,
				&:active {
					@include link-underline(utility-color(purple, medium), utility-color(purple, dark));
				}
			}
		}
	}
}