.a-comment-links {
	display: inline-flex;
	@include meta-preset( $size: -1 );
	padding: $standard-block-padding / 20 0 $standard-block-margin;

	div {

		a {
			margin-right: $standard-block-margin
		}
	}
}
