.a-comment-replyline {
	display: flex;
	margin-top: $standard-block-padding / 2;
	color: neutral-color(medium);

	@include meta-preset( $size: 0 );

	.a-comment-parent {
		display: block;
		width: $inline-icon-size;
		height: $inline-icon-size;
		font-size: $inline-icon-size;
		margin-left: $standard-block-padding / 2;
	}
}
