.a-comment-links {
	@include meta-preset( $size: -1 );
	padding-top: $standard-block-padding / 2;
	div {

		a {
			display: block;
			margin-right: $standard-block-margin;
			margin-bottom: $standard-block-padding;
		}
	}

	@include breakpoint-min( sm ) {
		display: inline-flex;
	}
}
