h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $font__sans;
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	padding: 0;
	a {
		color: inherit;
		&:visited,
		&:active,
		&:focus,
		&:hover,
		&.active {
			color: inherit;
		}
	}
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0;
}

h1, .h1 {

}
h2, .h2 {
	font-size: 123.1%;
}
h3, .h3 {
	
}
h4, .h4 {
	
}
h5, .h5 {
	
}
h6, .h6 {
	
}

.a-archive-title {
	font-size: 123.1%;
	text-transform: none;
}
.a-archive-subtitle {
	font-size: 123.1%;
	text-transform: uppercase;
	font-family: $font__headings;
	font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin-bottom: 12px;
}
.a-author-title, .a-about-author, .a-related-title, .a-comments-title, .a-comment-reply-title, .a-signup-title, .a-newsletter-title {
	font-size: 123.1%;
}
.a-about-author, .a-related-title, .a-comments-title, .a-comment-reply-title, .a-signup-title, .a-newsletter-title {
	text-transform: uppercase;
	font-family: $font__headings;
	font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin-top: 20px;
}
.a-author-title {
	text-transform: none;
    margin: 0;
    font-weight: bold;
}
.a-related-title {
	margin-bottom: 0.75em;
}
.a-comments-title, .a-comment-reply-title {
	margin-bottom: 0.75em;
}
.a-comment-reply-title {
	a {
		color: $color__link;
		&:visited,
		&:active,
		&:focus,
		&:hover,
		&.active {
			color: $color__link-hover;
		}
	}
	small a {
		background: $color__background-button;
		padding: 1px 8px 0 5px;
		font-size: 12px;
		color: #777;
		font-family: $font__headings;
		font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		border: 1px solid $color__gray-sub-menu;
		display: inline-block;
		line-height: 1.75em;
		box-shadow: 0 1px 0 rgba(0, 0, 0, .08);
		&:visited,
		&:active,
		&:focus,
		&:hover,
		&.active {
			color: #777;
			border: 1px solid $color__gray-light;
			text-decoration: none;
		}
	}
}

.a-featured-title {
	font-size: 123.1%;
	text-transform: none;
	font-family: $font__sans;
	font-weight: bold;
}

.a-entry-title, .a-user-title {
	font-size: 123.1%;
	text-transform: none;
	color: $color__minnpost-black;
}
.a-entry-title-largeimage {
	font-size: 138.5%;
	font-weight: bold;
	line-height: 1.15em;
}
.m-category-top .a-entry-title-largeimage {
	font-size: 215.4%;
	line-height: 1.15em;
	font-family: $font__headings;
	font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.m-entry-header-singular .a-entry-title, .m-user-profile .a-user-title, .a-standalone-title {
	font-family: $font__headings;
	font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin: 0;
	font-size: 338.5%;
	line-height: 0.9em;
	color: $color__minnpost-black;
}

.m-interest-posts .a-entry-title {
	font-family: $font__headings;
	font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 0.9em;
	font-size: inherit;
}

.m-entry-header-single .a-entry-title {
	margin-bottom: 15px;
}

.m-entry-content h1, .m-entry-content .h1, .m-post-sidebar h1, .m-post-sidebar .h1,
.m-entry-content h2, .m-entry-content .h2, .m-post-sidebar h2, .m-post-sidebar .h2,
.m-entry-content h3, .m-entry-content .h3, .m-post-sidebar h3, .m-post-sidebar .h3,
.m-entry-content h4, .m-entry-content .h4, .m-post-sidebar h4, .m-post-sidebar .h4,
.m-entry-content h5, .m-entry-content .h5, .m-post-sidebar h5, .m-post-sidebar .h5,
.m-entry-content h6, .m-entry-content .h6, .m-post-sidebar h6, .m-post-sidebar .h6 {
	a {
		color: $color__link;
		&:visited,
		&:active,
		&:focus,
		&:hover,
		&.active {
			color: $color__link-hover;
		}
	}
}

.m-entry-content h3, .m-entry-content .h3, .m-partner-offer-content h1, .m-partner-offer-content .h1 {
	font-size: 215.4%;
	line-height: 1.15em;
	font-family: $font__headings;
	font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.m-entry-content h4, .m-entry-content .h4 {
	font-size: 138.5%;
	line-height: 1.15em;
}

.m-entry-content h5, .m-entry-content .h5 {
	font-size: 92.3%;
	text-transform: uppercase;
	line-height: 1.4em;
}

h2.a-user-section-title {
	margin-bottom: 12px;
}

h2.a-membership-reasons {
	margin: 2em 0 1em 0;
	font-family: $font__sans;
	font-weight: bold;
}

h3.a-finish-strong {
	clear: both;
	font-size: 123.1%;
	background: $color__gray-sub-menu;
	padding: 0.5em;
	margin-bottom: 0.5em;
	font-family: $font__headings;
	font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

h2.a-offer {
	color: $_color-base-gray;
	margin-bottom: 0.25em;
}

h4.a-donation-heading {
	padding: 0.5em 0;
	color: $color__gray-meta;
	font-size: 76.9%;
	text-transform: uppercase;
	font-family: $font__sans;
	line-height: 1.3em;
	font-weight: normal;
}

.a-donation-history-heading {
	margin: 1em 0;
	background: $color__minnpost-white;
	padding: 1em;
	font-weight: normal;
	font-size: 100%;
}
