h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $font__sans;
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	padding: 0;
	a {
		color: inherit;
		&:visited,
		&:active,
		&:focus,
		&:hover,
		&.active {
			color: inherit;
		}
	}
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0;
}

h1, .h1 {

}
h2, .h2 {
	
}
h3, .h3 {
	
}
h4, .h4 {
	
}
h5, .h5 {
	
}
h6, .h6 {
	
}

.a-archive-title {
	font-size: 123.1%;
	text-transform: none;
}
.a-archive-subtitle {
	font-size: 123.1%;
	text-transform: uppercase;
	font-family: $font__headings;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin-bottom: 12px;
}
.a-author-title, .a-about-author, .a-comments-title {
	font-size: 123.1%;
}
.a-about-author, .a-comments-title {
	text-transform: uppercase;
	font-family: $font__headings;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin-top: 20px;
}
.a-author-title {
	text-transform: none;
    margin: 0;
    font-weight: bold;
}
.a-comments-title {
	margin-bottom: 0.75em;
}

.a-featured-title {
	font-size: 123.1%;
	text-transform: none;
	font-family: $font__sans;
	font-weight: bold;
}

.a-entry-title {
	font-size: 123.1%;
	text-transform: none;
}
.a-entry-title-largeimage {
	font-size: 138.5%;
	font-weight: bold;
	line-height: 1.15em;
}
.m-category-top .a-entry-title-largeimage {
	font-size: 215.4%;
	line-height: 1.15em;
	font-family: $font__headings;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.m-entry-header-singular .a-entry-title {
	font-family: $font__headings;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin: 0;
	font-size: 338.5%;
	line-height: 0.9em;
	color: $color__minnpost-black;
}

.m-entry-header-single .a-entry-title {
	margin-bottom: 15px;
}

.m-entry-content h1, .m-entry-content .h1, .m-post-sidebar h1, .m-post-sidebar .h1,
.m-entry-content h2, .m-entry-content .h2, .m-post-sidebar h2, .m-post-sidebar .h2,
.m-entry-content h3, .m-entry-content .h3, .m-post-sidebar h3, .m-post-sidebar .h3,
.m-entry-content h4, .m-entry-content .h4, .m-post-sidebar h4, .m-post-sidebar .h4,
.m-entry-content h5, .m-entry-content .h5, .m-post-sidebar h5, .m-post-sidebar .h5,
.m-entry-content h6, .m-entry-content .h6, .m-post-sidebar h6, .m-post-sidebar .h6 {
	a {
		color: $color__action-color;
		&:visited,
		&:active,
		&:focus,
		&:hover,
		&.active {
			color: $color__action-color;
		}
	}
}

.m-entry-content h4, .m-entry-content .h4 {
	font-size: 138.5%;
	line-height: 1.15em;
}

.m-entry-content h5, .m-entry-content .h5 {
	font-size: 92.3%;
	text-transform: uppercase;
	line-height: 1.4em;
}