.a-site-branding {
	max-width: 330px;
	position: relative;
	height: $header-height-smaller-screen;
	.a-logo-svg {
		width: 102%;
		height: 43px;
		display: block;
		position: absolute;
		bottom: 0;
	}
}

.no-srcset {
	.a-site-branding {
		.a-logo-svg {
			z-index: 1;
			img {
				display: block;
				margin-top: 1px;
			}
		}
	}
}

// media queries for logo

@media screen and (min-width: $small-screen) {
	.a-site-branding {
		width: 330px;
		height: $header-height-small-screen;
		.a-logo-svg {
			height: 45px;
		}
	}
}

@media screen and (min-width: $medium-screen) {
	.a-site-branding {
		height: $header-height-before-nav-breaks;
	}
}

@media screen and (min-width: $max-width-medium-plus-margins) {
	.a-site-branding {
		height: $header-height-before-nav-breaks;
	}
}

@media screen and (min-width: $nav-breaks) {
	.a-site-branding {
		float: left;
		height: $header-height-after-nav-breaks;
	}
}

