a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:active,
	&:focus,
	&:hover {
		color: $color__link-hover;
		text-decoration: underline;
	}

	&:active,
	&:focus {
		outline: none;
	}

	&.active {
		color: $color__link-active;
	}

	&.a-more {
		font-family: $font__sans;
		&:after {
			content: ' ▸'
		}
	}

}

// sometimes it can be the link container instead
p.a-more {
	font-family: $font__sans;
	a:after {
		content: ' ▸'
	}
}