.a-site-branding {
	font-size: 300%;
	margin-top: 26px;
}
.a-logo {
	background-image: url('assets/img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	@include hide-text;
	//margin-top: 1.5em;
	//margin-bottom: -1px;
	width: 234px;
	height: 33px;
}
// media queries
@media screen and (min-width: $small-screen) {
	.a-logo {
		width: 264px;
		height: 37px;
	}
}
@media screen and (min-width: $nav-breaks) {
	.a-logo {
		float: left;
		width: 330px;
		height: 46px;
		//margin-top: 1.5em;
	}
}