a {
	color: utility-color(blue, dark);
	text-decoration: underline;
	text-decoration-color: utility-color(blue, highlight);
	text-underline-offset: 0.25em;
	text-decoration-thickness: 0.08em;
	transition: $hover-transition;

	&:visited {
		color: utility-color(blue, dark);
	}

	&:active,
	&:focus,
	&:hover {
		color: utility-color(blue, medium);
		text-decoration-color: utility-color(blue, background);
	}

	&:active,
	&:focus {
		//outline: none;
	}

	&.active {
		color: utility-color(blue, medium);
	}

	/*&.a-more {
		font-family: $font__sans;

		&::after {
			content: " ▸";
		}
	}*/

}

// sometimes it can be the link container instead
/*p.a-more {
	font-family: $font__sans;

	a::after {
		content: " ▸";
	}
}*/
