.a-site-branding {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0 auto $standard-block-padding auto;

	.a-logo-svg {
		display: block;
	}
}

header .a-site-branding {

	@include breakpoint-min( xs ) {
		max-width: colspan( 4, 6 );
	}

	@include breakpoint-min( md ) {
		max-width: colspan( 3, 8 );
		margin-bottom: 0;
	}

	@include breakpoint-min( lg ) {
		max-width: colspan( 4, 12 );
	}

	@include breakpoint-min( xl ) {
		max-width: colspan( 5, 16 );
	}
}

footer .a-logo-svg picture {
	filter: brightness(0) invert(1);
}

// this depends on modernizr
.no-srcset {

	.a-site-branding {

		.a-logo-svg {
			z-index: 1;

			img {
				display: block;
				margin-top: 1px;
			}
		}
	}
}

// media queries for logo

@media screen and (min-width: 330px) {

	.a-site-branding {
		//width: 330px;
	}
}

@media screen and (min-width: $more-than-logo-screen) {

	.a-site-branding {
		margin-left: 0;
		margin-right: 0;
	}
}
