a {
	color: $color__action-color;
	text-decoration: none;

	&:visited {
		color: $color__action-color;
	}

	&:active,
	&:focus,
	&:hover {
		//color: darken($color__action-color, 15%);
		color: $color__action-color;
		text-decoration: underline;
	}

	&:active,
	&:focus {
		outline: none;
	}

	&.active {
		color: $color__black;
	}

}