.a-media-meta {
	display: block;
	margin-bottom: 0;
	margin-top: 0;
	font-family: $font__sans;

	&.a-media-credit {
		font-size: 62.5%;
		line-height: normal;
		text-align: right;
	}

	&.a-media-caption {
		font-size: 75%;
		line-height: 1.3em;
	}
}

// legacy caption and credit
.m-entry-content {

	img + br + span.credit,
	img + br + span.credit + span.caption {
		font-family: $font__sans;
		display: block;
	}

	img + br + span.credit {
		font-size: 62.5%;
		line-height: normal;
		text-align: right;
	}

	img + br + span.credit + span.caption {
		font-size: 75%;
		line-height: 1.3em;
		margin-bottom: 1em;
	}
}
