.a-media-meta {

	&.a-media-caption {
		@include body-preset( $size: -2 );
		display: table-cell;
		padding: $standard-block-margin / 4 0;
	}

	&.a-media-credit {
		@include meta-preset( $size: -3, $bold: false, $italic: true );
		color: neutral-color(dark);
		display: table-footer-group;
	}
}

// legacy caption and credit
.m-entry-content {

	img + br + span.credit,
	img + br + span.credit + span.caption {
		font-family: $font__sans;
		display: block;
	}

	img + br + span.credit {
		font-size: 62.5%;
		line-height: normal;
		text-align: right;
	}

	img + br + span.credit + span.caption {
		font-size: 75%;
		line-height: 1.3em;
		margin-bottom: 1em;
	}
}
