.a-minnpost-weather {
	margin-right: 24px;
	width: auto;
	text-align: left;
	a {
		color: $color__minnpost-black;
		display: inline-block;
		text-decoration: none;
		&:hover {
			opacity: .65;
		}
	}
	img.weather-icon {
		width: 25px;
		margin-right: 1px;
		display: inline-block;
		max-width: none;
	}
	.weather-temperature {
		vertical-align: top;
		font-size: $base-font-size;
		display: inline-block;
		padding-top: 7px;
		width: 35px;
	}
}