.a-minnpost-weather {
	margin-right: 30px;
	width: 65px;
	a {
		color: #1A1818;
		&:hover {
			text-decoration: none;
			opacity: .65;
		}
	}
	img.weather-icon {
		width: 25px;
		padding-right: 5px;
		display: inline-block;
	}
	.weather-temperature {
		font-size: 13px;
		display: inline-block;
		padding-top: 7px;
		width: 35px;
	}
}