.a-moderation-notice {
	padding: $standard-block-padding;
	margin: $standard-block-padding 0;
	border: $border-default-style;

	&.a-moderation-notice-rejected {
		background: brand-color(red,background);
	}

	&.a-moderation-notice-pending {
		background: utility-color(purple, background);
	}
}
