.m-support-cta {

	&.m-support-cta-top {

		.a-support-button {
			background: $color__minnpost-green;
			color: $color__white;
			@include meta-preset( $size: 1, $bold: true, $italic: false, $line-height: 1 );

			&:hover,
			&:focus,
			&:active {
				background: darken($color__minnpost-green, 10%);
				text-decoration: none;
			}
		}
	}
}
