.m-category-info .a-sponsorship,
.m-post .a-sponsorship {
	font-style: italic;
	margin-bottom: $standard-block-margin;
	border-bottom: $border-default-style;
	border-top: $border-default-style;
	padding: $standard-heading-margin 0;

	p {

		br {
			display: none;
		}
	}
}
