.o-footer .o-footer-hat section ul.a-sponsor-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	li.a-sponsor {
		//border-bottom: 1px solid $color__gray-lightest;
		margin-bottom: $standard-page-margin;
		padding-bottom: $standard-page-margin;

		figure {
			margin: 0;
			display: flex;

			a {
				display: block;
			}

			img {
				display: block;
				align-self: flex-start;
			}
		}
	}
}
