.m-category-info .a-sponsorship,
.m-post .a-sponsorship {

	@include meta-preset( $size: -2, $bold: false, $italic: true );
	margin-bottom: $standard-block-margin;
	border-bottom: $border-default-style;
	border-top: $border-default-style;
	padding: $standard-heading-margin 0;

	p {

		br {
			display: none;
		}
	}
}
