.m-category-info .a-sponsorship,
.m-post .a-sponsorship {
//	color: $color__gray-meta;
//	font-size: 107.7%;
//	margin: 20px 0 25px 0;
//	padding-bottom: 0.75em;
	font-style: italic;
	margin-bottom: $standard-block-margin;
	border-bottom: $border-default-style;
	border-top: $border-default-style;
	padding: $standard-heading-margin 0;
}

.m-post .a-sponsorship {
	/*padding-bottom: 0;

	p {
		font-size: 100%;
	}*/
}
