.m-support-cta {

	.a-button.a-support-button {
		background: utility-color(green, medium);
		color: neutral-color(white);

		@include meta-preset( $size: 1, $bold: true, $italic: false, $line-height: 1 );

		&:hover,
		&:focus,
		&:active {
			background: utility-color(green, dark);
			text-decoration: none;
		}
	}

	&.m-support-cta-top {

		.a-support-button {
			margin-bottom: $standard-block-padding;

			@include breakpoint-min( xs ) {
				margin-bottom: $standard-heading-margin;
			}

			@include breakpoint-min( sm ) {
				width: colspan(2, 6);
			}

			// inside a 5 column space now
			@include breakpoint-min( md ) {
				width: colspan(2, 5);
				margin-bottom: 0;
			}

			// inside 8 column space
			@include breakpoint-min( lg ) {
				width: colspan(2, 8);
			}

			// inside 12 column space
			@include breakpoint-min( xl ) {
				width: colspan(2, 12);
			}
		}
	}
}
