.o-footer .o-footer-hat section ul.a-sponsor-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	li.a-sponsor {
		margin-bottom: $standard-block-margin;

		figure {
			margin: 0;
			display: flex;

			a {
				display: block;
			}

			img {
				display: block;
				align-self: flex-start;
			}
		}
	}
}
