.o-footer .o-footer-hat section ul.a-sponsor-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.o-footer .o-footer-hat section ul.a-sponsor-list li.a-sponsor,
li.a-sponsor {
	margin-bottom: $standard-block-margin;

	> a {
		display: block;
	}

	figure {
		margin: 0;
		display: flex;

		> a {
			display: block;
		}

		img {
			display: block;
			align-self: flex-start;
		}
	}
}
