a.a-topics-label,
span.a-topics-label {
	text-decoration: none;
	color: neutral-color(white);
	background-color: brand-color(red, medium);
	display: inline-flex;
	padding: $standard-block-padding;
	margin-right: $standard-block-padding / 2;
	@include meta-preset( $size: -2, $bold: false, $italic: false );
	line-height: normal;

	@include breakpoint-min( md ) {
		padding: $standard-block-padding / 2 $standard-block-padding;
	}

	&:hover,
	&:focus,
	&:active {
		background-color: brand-color(red, dark);
	}
}