.liveblog-entry {
	background: #fff;
	margin-bottom: 20px;
	border-top: 0;
}

.liveblog-entry-aside {
	a {
		span:nth-of-type(2) {
			display: none;
		}
	}
}

.liveblog-meta-author {
	.liveblog-meta-author-name {
		margin-left: 0;
		line-height: normal;
		border-bottom: 1px solid #efeff0;
		&:after {
			content: ":";
			margin-left: 0.15em;
		}
	}
}

.liveblog-entry-content {
	* {
		word-break: normal;
	}
}