.node-field-body .sponsor-column {
	width: 48%;
	float: left;
}
.node-field-body .sponsor-column:last-child {
	float: right;
}

/*.node-field-body .sponsor-column h3 {
	font-size: 123.1%;
	font-family: Helvetica,Arial,Geneva,sans-serif;
}*/
.node-field-body .sponsor-column ul {
	list-style: none;
	padding-left: 0;
}
.node-field-body .sponsor-column ul li {
	list-style: none;
	line-height: 1.3;
	margin-bottom: 1em;
}
.node-field-body .sponsor-column ul li h5 {
	font-size: 123.1%;
    margin: 0 0 0.25em 0;
    text-transform: none;
    font-family: Helvetica,Arial,Geneva,sans-serif;
    line-height: normal;
}
.node-field-body .sponsor-column ul li h5 a {
	color: #1a1818;
}