.a-breadcrumbs {
	display: flex;
	align-items: flex-start;
    margin: $standard-block-padding / 2 0;
}

.a-breadcrumb {

	@include meta-preset( $size: 0, $bold: true, $italic: false, $line-height: 1 );
	margin-right: $standard-block-padding / 2;

	a {

		&:link,
		&:visited {
			text-decoration: none;
		}
	}

	&.a-category-group {

		a,
        span {
			display: inline-block;
			padding: 0 $standard-block-padding;
			border-radius: $border-radius;
			color: neutral-color(white);
			background-color: neutral-color(black);
		}

        a {

            &:hover,
			&:focus,
			&:active {
				background-color: neutral-color(dark);
			}
        }
	}

}


// when there's a category group on the breadcrumb
.a-breadcrumbs {

	.a-category-group {

		a,
        span {
			display: inline-block;
			padding: 0 $standard-block-padding;
			border-radius: $border-radius;
			color: neutral-color(white);
			background-color: neutral-color(dark);
		}

        a {
            
            &:hover,
			&:focus,
			&:active {
				background-color: neutral-color(dark);
			}
        }
	}

	&.a-breadcrumbs-news,
	&.a-breadcrumbs-arts-culture {

		.a-category-group {

			a,
            span {
				background-color: brand-color(red, medium);
			}

            a {

                &:hover,
				&:focus,
				&:active {
					background-color: brand-color(red, dark);
				}
            }
		}

		.a-category-name {

			a,
            span {
				color: brand-color(red, medium);
			}

            a {

                &:hover,
				&:focus,
				&:active {

					@include link-underline(brand-color(red, dark), brand-color(red, medium));
				}
            }

            span {
                color: neutral-color(dark);
            }
		}
	}

	&.a-breadcrumbs-opinion {

		.a-category-group {

			a,
            span {
				background-color: utility-color(purple, dark);
			}

            a {

                &:hover,
				&:focus,
				&:active {
					background-color: utility-color(purple, medium);
				}
            }
		}

		.a-category-name {

			a,
            span {
				color: utility-color(purple, dark);
			}

            a {

                &:hover,
				&:focus,
				&:active {

					@include link-underline(utility-color(purple, medium), utility-color(purple, dark));
				}
            }

            span {
                color: neutral-color(dark);
            }
		}
	}

	&.a-breadcrumbs-sponsored-content {

		.a-category-group {

			a,
            span {
				background-color: utility-color(orange, medium);
			}

            a {

                &:hover,
				&:focus,
				&:active {
					background-color: utility-color(orange, dark);
				}
            }
		}

		.a-category-name {

			a,
            span {
				color: utility-color(orange, medium);
			}

            a {

                &:hover,
				&:focus,
				&:active {

					@include link-underline(utility-color(orange, dark), utility-color(orange, medium));
				}
            }

            span {
                color: neutral-color(dark);
            }
		}
	}
}
