.content .button.read-story td td a:hover {
    color: #ffffff !important; text-decoration: none !important;
}

.content .button.read-story td td a:visited {
    color: #ffffff !important; text-decoration: none !important;
}

.content .button.read-story td td a:active {
    color: #ffffff !important; text-decoration: none !important;
}

table.a-button {
    @include table_button();
}

p.a-button {
    @include paragraph_button();
}
