table.h3.a-entry-title  {
	margin: 0;
	padding: 0;

	td {

		color: neutral-color(black);

		@media (prefers-color-scheme: dark ) {
			color: neutral-color(white) !important;
		}

		padding: 0 0 $standard-block-padding 0;

		a {
			color: neutral-color(black);
			text-decoration: none;

			@media (prefers-color-scheme: dark ) {
				color: neutral-color(white) !important;
			}

			&:hover {

				@include link-underline();

				@media (prefers-color-scheme: dark ) {
					color: utility-color(blue, highlight) !important;
				}
			}
		}
	}
}

.o-site-message {
	
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4 {
		padding: 0 0 $standard-heading-margin 0;
	}

	.h1 {

		@include meta-preset( $size: 4, $bold: true );
	}
	
	.h2 {
	
		@include meta-preset( $size: 3, $bold: true );
	}
	
	.h3 {
	
		@include meta-preset( $size: 2, $bold: true );
	}
	
	.h4 {
	
		@include meta-preset( $size: 1 );
	}
	
	.h5 {
	
		@include meta-preset( $size: 0 );
	}
	
	.h6 {
	
		@include meta-preset( $size: 0, $bold: false );
	}
	
}
