.footer a:hover {
    color: #801018 !important; text-decoration: underline !important;
}

.footer a:visited {
    color: #801018 !important; text-decoration: none !important;
}

.footer a:active {
    color: #801018 !important; text-decoration: underline !important;
}
