.a-preview-text {
    display: none !important;
    max-height: 0px;
    font-size: 0px;
    overflow: hidden;
}

.a-after-preview-text {
    display: none;
    max-height: 0px;
    overflow: hidden;
}
