/* Popup Theme 157583: Default Theme */
.pum-theme-157583, .pum-theme-default-theme {
	background-color: rgba( 255, 255, 255, 1.00 );
	.pum-container {
		padding: 8px;
		border-radius: 0;
		border: 1px none #000;
		box-shadow: 1px 1px 3px 0px rgba( 2, 2, 2, 0.23 );
		background-color: rgba( 134, 36, 39, 1.00 );
	}
	.pum-title {
		color: #fff;
		text-align: left;
		text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
		font-family: inherit; 
		font-size: 32px;
		line-height: 36px;
	}
	.pum-content {
		color: #fff;
		font-family: inherit;
	}
	.pum-content + .pum-close {
		height: 25px;
		width: 25px;
		right: -12.5px;
		top: -12.5px;
		color: #fff;
		font-family: inherit;
		font-size: 12px;
		line-height: normal;
		border: 2px solid #fff;
		border-radius: 50%;
		background-color: #000;
	}
}