// gradient
$tonight-colors: (
    top: #0C7BB0,
    bottom: #2FB5F6
);

// sizes
$header-height-mobile: 350px;
$header-height-desktop: 225px;
$header-height-homepage-desktop: 600px;
$speaker-headshot-width: 300px;
