// color palette: https://minnpost-color-matrix.herokuapp.com/?n=black&n=medium&n=highlight&n=background&n=dark&n=medium&n=highlight&n=background&v=010203&v=5A5A5B&v=B2B3B3&v=E5E5E5&v=465159&v=8095A4&v=C5E4FA&v=EBF6FD

// palette
$tonight-colors: (
	black: (
		dark: #010203, // bg
		medium: #5A5A5B, // dark
		highlight: #B2B3B3,
        background: #E5E5E5
	),
    blue: (
        dark: #465159,
        medium: #8095A4,
        highlight: #C5E4FA,
        background: #EBF6FD
    )
);


// sizes
$header-height-mobile: 350px;
$header-height-desktop: 225px;
$header-left-margin-desktop: 205px;
$header-width: 357px;
//$header-height-homepage-desktop: 600px;
$speaker-headshot-width: 300px;
