.m-archive,
.m-widget-spills {

	&.m-zone,
	&.m-widget-spills,
	&.m-archive-category,
	&.m-archive-author,
	&.m-archive-post_tag,
	&.m-archive-events,
	&.m-archive-date {

		article {
			display: flex;
			justify-content: space-between;
			padding-bottom: $standard-heading-margin;
			border-bottom: $border-default-style;
			margin-bottom: $standard-block-margin;
		}
	}

	&.m-zone-homepage-more-top,
	&.m-zone-homepage-opinion {

		article {
			flex-wrap: wrap;
		}
	}

	&.m-zone,
	&.m-widget-spills,
	&.m-archive-category,
	&.m-archive-author,
	&.m-archive-post_tag,
	&.m-archive-date {

		article {

			.a-breadcrumbs,
			.a-entry-title,
			.m-entry-byline,
			.m-entry-meta,
			.m-entry-excerpt {
				width: 100%;
			}

			.a-entry-title {
				margin: $standard-block-padding / 2 0;
			}

			.m-entry-byline {
				margin-bottom: $standard-block-padding / 2;
			}

			.m-entry-excerpt {
				margin-top: 0;
			}

		}
	}
}
