.m-author-info {
	.a-author-figure {
		@include clearfix;
		background: $color__minnpost-white;
		img {
			margin: 10px 20px 10px 10px;
			float: left;
		}
		figcaption {
			padding: 10px;
			p {
				font-size: 1.23em;
				line-height: 1.3em;
			}
		}
	}
}