.m-ad-region {
	display: flex;
	justify-content: center;

	&.m-ad-region-leaderboard {
		text-align: center;
		background: $color__gray-lightest;
	}
	&.m-ad-region-sidebar {
		justify-content: flex-end;
	}
	/*.o-wrapper {
		@include clearfix;
		margin: 0;
		width: inherit;
		max-width: none;
	}*/
}

.m-ad-region:empty {
   display: none;
}

#secondary-first, #secondary-second {
	.m-ad-region-sidebar {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

// media queries for ad regions

@media screen and (min-width: $size__ad-flexing) {
	/*#secondary-first {
		.m-ad-region-sidebar {
			display: block;
			width: auto;
		}
	}*/
}

@media screen and (min-width: $ad-top-width) {
	.m-ad-region {
		&.m-ad-region-leaderboard {
			padding: 10px 0;
		}
	}
}

@media screen and (min-width: $max-width-page) {
	/*.m-ad-region {
		.o-wrapper {
			@include outer-container($max-width-page);
		}
	}*/
	/*.m-ad-region-sidebar {
		display: block;
		width: auto;
	}*/
}
