.m-author-info {
	.a-author-figure {
		@include clearfix;
		background: $color__minnpost-white;
		img {
			margin: 10px 20px 10px 10px;
			float: left;
		}
		figcaption {
			@include clearfix;
			padding: 10px;
			p {
				font-size: 1.23em;
				line-height: 1.3em;
				a {
					color: $color__action-color;
					&:active,
					&:focus,
					&:hover {
						//color: darken($color__action-color, 15%);
						color: $color__action-color;
						text-decoration: underline;
					}
				}
			}
		}
	}
	&.m-author-info-single .a-author-figure {
		border: 1px solid $color__gray-lightest;
		margin-top: 10px;
		figcaption {
			margin-bottom: 25px;
			padding-bottom: 20px;
		}
	}
}