.m-ad-region {
	&.m-ad-region-leaderboard {
		text-align: center;
		background: $color__gray-lightest;
	}
	.o-wrapper {
		@include clearfix;
		margin: 0;
		width: inherit;
		max-width: none;
	}
}

.m-ad-region:empty {
   display: none;
}

// media queries for ad regions

@media screen and (min-width: $ad-top-width) {
	.m-ad-region {
		&.m-ad-region-leaderboard {
			padding: 10px 0;
		}
	}
}

@media screen and (min-width: $max-width-page) {
	.m-ad-region {
		.o-wrapper {
			@include outer-container($max-width-page);
		}
	}
}