.m-author-info {
	margin-bottom: $standard-heading-margin;

	@include breakpoint-min( lg ) {
		width: colspan( 16, 12 );
	}

	.a-author-figure {
		margin: 0;

		@include clearfix;

		img {
			float: left;
			max-width: $author-photo-size;
		}

		figcaption {

			@include clearfix;

			h3 {
				padding-bottom: $standard-block-padding;
			}

			p {
				margin-bottom: $standard-block-padding;
			}
		}
	}

	&.m-author-info-single .a-author-figure {
		//border: 1px solid $color__gray-lightest;
		//margin-top: 10px;

		img {
			max-width: $author-photo-size;
		}

		figcaption {
			//margin-bottom: 25px;
			//padding-bottom: 20px;

			p {
				//font-size: $content-font-size;
				//line-height: 1.3em;
			}
		}
	}
}
