.a-archive-figure {
	@include clearfix;
	a, a:hover, a:focus, a:active {
		text-decoration: none;
		color: $color__base-font-color;
	}
	img {
		margin: 0 20px 20px 0;
		float: left;
	}
	figcaption {
		line-height: 1.3em;
	}
	a h3, a img {
		color: $color__action-color;
	}
	a:visited h3 {
		color: $color__action-color;
	}
	a:active h3,
	a:focus h3,
	a:hover h3 {
		color: $color__action-color;
		text-decoration: underline;
	}
}

.m-archive-info {
	.a-archive-figure {
		padding-bottom: 40px;
		margin-bottom: -16px;
		background: $color__minnpost-white;
		img {
			margin: 10px 20px 10px 10px;
		}
		figcaption {
			padding: 10px;
			font-size: 1.23em;
			line-height: $base-line-height-em;
		}
	}
	&.m-category-info {
		padding-bottom: 30px;
		margin-bottom: 20px;
		border-bottom: 1px solid $color__gray-lightest;
		.a-category-figure {
			margin-bottom: -22px;
		}
	}
	&.m-author-info {
		margin-bottom: 25px;
	}
}