.m-archive-header {
	margin-bottom: $standard-block-padding;

	&.m-archive-header-spill {
		margin-bottom: $standard-block-margin;
	}

	&.tribe-events-header {
		display: flex;
		justify-content: space-between;
	}
}
