.m-benefit-message-visible {
	padding: $standard-block-padding;
	margin: $standard-block-padding 0;
	border: $border-default-style;

	&.m-benefit-message-error {
		background: brand-color(red, highlight);
		color: neutral-color(black);
	}

	&.m-benefit-message-info {
		background: utility-color(yellow, background);
		color: neutral-color(black);
	}

	&.m-benefit-message-future {
		background: neutral-color(dark);
		color: neutral-color(white);
	}

	&.m-benefit-message-success {
		background: utility-color(green, highlight);
		color: neutral-color(black);
	}
}
