.m-entry-content .m-content-media {
	margin: 1em 0;
	img {
		display: block;
	}
	&.alignnone {

	}
	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}
	&.alignleft {
		float: left;
		clear: right;
		margin: 0.5em 1em 1em 0;
	}
	&.alignright {
		float: right;
		clear: right;
		margin: 0.5em 1em 1em 0;
	}
}

.m-entry-content .content-image {
	margin-bottom: 10px;
	&.content-image-right {
		float: right;
		clear: right;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	&.content-image-left {
		float: left;
		clear: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}