.m-entry-content .m-content-media {
	display: table;
	margin: $standard-page-margin 0;

	img {
		display: block;
	}

	figcaption {
		display: table-caption;
		caption-side: bottom;
	}

	&.alignnone {

	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&.alignleft {
		float: left;
		clear: right;
		margin: $standard-page-margin / 2 $standard-page-margin $standard-page-margin 0;
	}

	&.alignright {
		float: right;
		clear: right;
		margin: $standard-page-margin / 2 0 $standard-page-margin $standard-page-margin;
	}
}

.m-entry-content .content-image {
	margin-bottom: 10px;

	&.content-image-right {
		float: right;
		clear: right;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	&.content-image-left {
		float: left;
		clear: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}
