.m-comment-meta {
	font-family: $font__sans;
	font-size: 76.9%;
	text-transform: uppercase;
	margin: 0.75em 0;
}

.o-comments-area-user {

	.m-comment-meta {
		font-weight: bold;
		text-transform: none;
		font-size: 92.3%;
		line-height: 1.4em;
		margin: 0 0 $standard-page-margin / 2 0;
	}
}
