.m-donation-message {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: $standard-block-margin;
	border-bottom: $border-default-style;
	font-size: $interface-copy-size-larger;

	&:last-of-type {
		border-bottom: none;
	}

	section {
		text-align: center;
		margin-bottom: $standard-block-margin;
		width: auto;
		flex-basis: 33%;
		flex-grow: 1;

		&.m-donation-actions {
			padding-left: $standard-block-padding;
			padding-right: $standard-block-padding;
		}
	}

	.m-donation {
		background: neutral-color(highlight);
		border-radius: $border-radius;
	}

	.a-donation-amount {

		@include meta-preset( $bold: true );
		font-size: 3em;
		width: 4em;
		margin: 0 auto;
		line-height: normal;
		padding: 0 0 $standard-block-padding * 0.5;
	}

	.a-donation-frequency,
	.a-next-transaction-date {

		@include meta-preset( $bold: true );
		font-size: 1.5em;
		line-height: normal;
	}

	.a-button {
		font-size: 1em;
		margin-right: 0;
		padding: $standard-block-padding;
	}

	.a-button-update-payment {
		margin-bottom: $standard-block-padding;
		display: block;
	}

	.a-button-sentence {
		display: flex;
		justify-content: space-between;

		.a-button:first-of-type {
			margin-right: $standard-block-padding * 2;
		}
	}

	.a-form-caption {
		display: block;
		text-align: left;
		font-size: $interface-copy-size-smaller;
		line-height: normal;
		margin-top: 1em;
	}
}
