.o-entry {

	.m-entry-meta {

		@include breakpoint-range( sm, lg ) {
			width: colspan( 2, 12 );
		}

		@include breakpoint-min( xl ) {
			width: colspan( 2, 12 );
		}

		&.m-entry-meta-horizontal {
			width: 100%;
		}
	}
}

.m-entry-header {

	.m-entry-meta {
		width: colspan( 12, 12 );
	}
}