.m-event-details {
	@include body-preset($size: -1);
	display: flex;
	font-size: 1rem;
	justify-content: space-between;

	.m-event-venue {
		margin: 0;
	}

	@media screen and (max-width: 998px) {
		flex-direction: column;
	}
}

body {
	display: none !important;
}
