.m-entry-share {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

	li a {
		display: inline-block;
		overflow: none;
		color: neutral-color(black);
		border: 2px solid utility-color(blue, dark);
		border-radius: 50%;
		vertical-align: middle;
		text-align: center;
		width: $share-icon-size;
		height: $share-icon-size;
		line-height: $share-icon-size;
		margin-bottom: $standard-block-margin / 2;

		&:hover, &:focus, &:active {
			border: 2px solid utility-color(blue, medium);
		}

		svg {
			pointer-events: none;
		}
	}
}

.no-js {
	.m-entry-share {
		.a-share-print,
		.a-share-copy-link {
			display: none;
		}
	}
}

.js {
	.m-entry-share {
		.a-share-print,
		.a-share-copy-link {
			display: block;
		}
	}
}
