.m-entry-header {
	font-family: $font__sans;
	.m-entry-meta {
		font-size: 76.9%;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.3em;
		margin: 0.25em 0;
	}
}
.m-entry-header-single {
	.m-entry-meta {
		margin-bottom: 1em;
	}
	.m-entry-share {
		float: right;
		div.sharedaddy h3.sd-title {
			display: none;
		}
	}
}
.m-entry-header-singular {
	.m-entry-meta {
		font-size: 124%;
		text-transform: none;
		font-weight: normal;
		&.m-entry-meta-deck {
			margin-bottom: 0.25em;
			font-weight: bold;
		}
	}
}
.m-page .m-entry-header {
	margin-bottom: 15px;
}
