.m-archive article .m-entry-header {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	margin-bottom: $standard-block-padding / 2;

	.m-entry-meta {
		flex-basis: 100%;
	}
}

.m-entry-header-singular {

	.m-entry-meta {

		&.m-entry-meta-deck {
			margin-bottom: $standard-block-padding / 2;
			font-weight: bold;
		}
	}
}

.m-page .m-entry-header {
	margin-bottom: $standard-block-padding;
}
