.m-entry-header {
	font-family: $font__sans;
	.m-entry-meta {
		font-size: 76.9%;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.3em;
		margin: .25em 0;
	}
}
.m-entry-header-singular {
	.m-entry-meta {
		font-size: 124%;
		text-transform: none;
		font-weight: normal;
	}
}
.m-page .m-entry-header {
	margin-bottom: 15px;
}