.m-event-notices {
	width: 100%;

	.tribe-events-notices {
		background: utility-color(blue, background);
		border: $border-default-style;
		margin: -$standard-heading-margin 0 $standard-block-margin 0;

		@include meta-preset( $size: -1 );
		padding: $standard-block-padding;
		border-radius: $border-radius;

		ul {
			list-style: none;
			margin: 0;
		}
	}
}
