.m-form-message {
	padding: $standard-block-padding;
	margin-top: -$standard-block-padding;
	margin-bottom: $standard-block-margin;
	border: $border-default-style;
	border-radius: $border-radius;

	&.m-form-message-error {
		background: brand-color(red, highlight);
	}

	&.m-form-message-info {
		background: utility-color(blue, background);
	}
}

.m-message-and-fields {

	.m-form-message {
		margin-top: $standard-block-padding;
		margin-bottom: 0;
	}
}

.m-widget-form.m-form-newsletter-shortcode {

	.m-form-message {
		font-size: $interface-copy-size-smaller;
	}
}
