.m-form-item {
	margin: 0 0 0.5em 0;
}

.m-form-standalone .m-form-item, .m-form-widget .m-form-item {
	label input {
		margin-top: 0.375em;
	}
}

.m-form-standalone .m-form-item {
	margin-bottom: 1.25em;
	width: 100%;
	max-width: 100%;
	label, input:not([type=checkbox]):not([type=radio]), select, textarea, span {
		display: block;
	}
	span.a-form-item-required {
		display: inline;
	}
	label {
		margin-bottom: 0.375em;
		line-height: 1.5em;
	}
	input:not([type=checkbox]):not([type=radio]), select, textarea {
		padding: 0.5em;
		border: 1px solid $color__border-input;
		margin-bottom: 0.375em;
		width: 100%;
	}
	input:not([type=checkbox]):not([type=radio]), textarea {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}
	input[type="checkbox"], input[type="radio"] {
		display: inline-block;
	}
	p, span {
		margin-bottom: 0.375em;
	}
	input:last-child, select:last-child, textarea:last-child, p:last-child, span:last-child {
		margin-bottom: 0;
	}
	&.m-form-checkboxes {
		span {
			display: inline-block;
		}
	}
}

.m-membership-choose-frequency, .m-membership-choose-amount {
	#amount-item #amount {
		border: 1px solid $color__border-input;
	}
	input#amount, select, button, input.a-button {
		font-family: $font__headings;
		font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
	}
	.m-form-radios {
		label {
			background: $_color-base-gray;
			color: $color__white;
			font-family: $font__sans;
			border: 0;
			border-radius: 1em;
		}
		input:checked + label {
			background: $_color-base-blue;
		}
	}
}

// media queries
@media screen and (min-width: $medium-screen) {
	.m-form-standalone .m-form-item {
		max-width: 70%;
		&.m-form-change-email {
			max-width: 80%;
		}
	}
}
