.m-main-navigation .m-form-search {

	input[type="search"] {
		-webkit-appearance: none;
		border: 0;
		text-indent: $standard-block-padding;
	}

	::-webkit-search-decoration {
		display: none;
	}
}

.m-form-newsletter-shortcode {

	fieldset {
		margin: 0;
		padding: 0;
		border: 0;
	}

	h2.a-form-title {
		text-align: center;
	}

	&.m-form-newsletter-shortcode-default {

		fieldset {
			display: flex;
			flex-flow: wrap;
			max-width: 360px;
			justify-content: space-between;

			div.m-form-item {

				label {
					display: block;
				}

				&.m-form-item-email {
					width: 100%;

					input {
						width: 100%;
					}
				}

				&.m-form-item-interests {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}
			}
		}
	}

	&.m-form-newsletter-shortcode-email {
		padding: 0;
		font-size: inherit;
		margin: 0;
		border: 0;

		.m-form-message {
			margin-bottom: 0;
			border: 0;
			padding: $standard-block-padding;
		}

		button {
			padding: 0.15em $standard-block-padding 0.2em $standard-block-padding;
			font-size: 1em;
			line-height: normal;
			margin-left: $standard-block-padding;
		}
	}
}

.m-form-instory.m-form-minnpost-form-processor-mailchimp {
	border: $border-default-style;
	border-radius: $border-radius;

	&.legacy {
		margin-bottom: 1em;
		background: neutral-color(border);

		figure {
			margin: 0;
		}
	}
}

.m-form-widget.m-form-minnpost-form-processor-mailchimp {

	.a-shortcode-image {
		margin: 0;
	}
}

.m-form-container {
	padding: 0 $standard-block-padding;
}

.m-form-in-body {
	margin-bottom: 1em;
	padding: 1em 3em;
	//font-family: $font__sans;
	font-size: var(--scale1);
	//color: $color__form-text;
	border: $border-default-style;
	position: relative;
}

.m-form-standalone {

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
}

.m-form-archive {
	border: $border-default-style;
	border-radius: $border-radius;
	padding: $standard-block-padding * 2;
	margin-bottom: $standard-block-margin;
	width: colspan( 4, 12 );

	label {
		margin-bottom: $standard-block-padding;
	}
}

// gravity forms styles
.gform_confirmation_wrapper {
	margin: 16px 0; // these are the same as the form wrapper
	max-width: 100%;
}
