$search-width: 117px;
.m-secondary-navigation .search-form {
	width: $search-width;
	height: 29px;
	border: 2px solid $color__gray-lightest;
	z-index: 1;
	position: absolute;
	top: 8px;
	right: 8px;
	input[type="text"], input[type="search"] {
		height: 25px;
		padding: 1px 2px 3px 2px;
		text-indent: 1px;
		border: 0;
		width: 112.5px;
	}
	input[type="search"] {
		-webkit-appearance: none;
		border-radius: 0;
	}
	::-webkit-search-decoration {
		display:none;
	}
	input[type="submit"] {
		border: 0;
		width: 15px;
		height: 15px;
		background: #fff url('assets/img/icons/search.png') no-repeat;
		margin-top: 0.25em;
		text-indent: -9999em;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 3px;
	}
	.typeahead {
		border: 2px solid $color__gray-lightest;
		border-top: none;
		display: block;
		z-index: 100;
		width: $search-width;
		padding: 1px 2px 3px 2px;
		margin-left: -2.5px;
		position: absolute;
		background: $color__white;
		li {
			padding: 0.25em;
		}
	}
}

.m-form-newsletter-shortcode {
	fieldset {
		margin: 0;
		padding: 0;
		border: 0;
	}
	h2.a-form-title {
		color: $color__minnpost-black;
		text-align: center;
		margin-bottom: 0.75em;
	}
	&.m-form-newsletter-shortcode-default {
		fieldset {
			display: flex;
			flex-flow: wrap;
			max-width: 360px;
			justify-content: space-between;
			div.m-form-item {
				label {
					display: block;
				}
				&.m-form-item-email {
					width: 100%;
					input {
						width: 100%;
					}
				}
				&.m-form-item-interests {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}
			}
		}
	}
	&.m-form-newsletter-shortcode-email {
		padding: 1em;
		font-size: inherit;
		.m-form-message {
			margin-bottom: 0;
			border: 0;
			padding: 0.5em;
		}
		button {
			padding: 0.17em 0.5em;
			font-size: 1em;
			line-height: normal;
		}
	}
}

// forms in sidebar widgets
.m-widget.m-form-newsletter-shortcode {
	font-size: 95%;
	width: 95%;
	margin: 1em auto 20px auto;
	input {
		width: 90%;
	}
	input#mce-LNAME {
		margin-bottom: 0.5em;
	}
}

.o-content-sidebar .m-widget.m-widget-form-dc {
	padding: 0;
}
.m-form-container {
	padding: 0 0.5em;
}

.m-form-in-body {
	margin-bottom: 1em;
	padding: 1em 3em;
	font-family: $font__sans;
	font-size: 1.25em;
	color: $color__form-text;
	border: 1px solid $color__gray-lightest;
	position: relative;
}

.m-form-standalone {
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
}

// gravity forms styles
.gform_confirmation_wrapper {
	margin: 16px 0; // these are the same as the form wrapper
	max-width: 100%;
}


// media queries for forms
@media screen and (min-width: $more-than-logo-screen) {
	.m-secondary-navigation .search-form {
		//top: 12px;
	}
}

@media screen and (min-width: $nav-breaks) {
	.m-secondary-navigation .search-form {
		position: relative;
		top: auto;
		left: auto;
		right: 0;
	}
}