.m-form-item {
	margin: 0 0 0.5em 0;
}

.m-form-standalone .m-form-item {
	margin-bottom: 1.25em;
	width: 100%;
	max-width: 100%;
	label, input:not([type=checkbox]):not([type=radio]), select, textarea, span {
		display: block;
	}
	span.a-form-item-required {
		display: inline;
	}
	label {
		margin-bottom: 0.375em;
		line-height: 1.5em;
	}
	input:not([type=checkbox]):not([type=radio]), select, textarea {
		padding: 0.5em;
		border: 1px solid $color__border-input;
		margin-bottom: 0.375em;
		width: 100%;
	}
	input:not([type=checkbox]):not([type=radio]), textarea {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}
	input[type="checkbox"], input[type="radio"] {
		display: inline-block;
	}
	p, span {
		margin-bottom: 0.375em;
	}
	input:last-child, select:last-child, textarea:last-child, p:last-child, span:last-child {
		margin-bottom: 0;
	}
	&.m-form-checkboxes {
		span {
			display: inline-block;
		}
	}
}

// media queries
@media screen and (min-width: $medium-screen) {
	.m-form-standalone .m-form-item {
		max-width: 70%;
	}
}