.g {
  max-width: $max-width-page;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: $grid-gap;
}

.g-12up {
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.gi-12 {
    grid-column: col-start / span 12;
}
.gi-9 {
    grid-column: col-start / span 9;
}