.m-interest-posts {
	ul {
		display: flex;
		width: 100%;
		padding: 0;
		list-style: none;
		justify-content: space-between;
		flex-wrap: wrap;
		li {
			border-top: 1px solid $color__border-light;
			font-size: 81%;
			list-style: none;
			padding: 0.5em 0;
			margin: 0;
			a {
				color: $color__minnpost-black;
				text-decoration: none;
				&:hover, &:focus, &:active {
					.a-entry-title {
						text-decoration: underline;
					}
				}
				.a-interest-image {
					float: left;
					margin-right: 2%;
					position: relative;
					.a-new {
						position: absolute;
						left: 0;
						bottom: 8px;
						display: block;
						line-height: normal;
						width: 100%;
						font-family: $font__headings;
						font-weight: normal;
						font-style: normal;
						font-variant: normal;
						color: $color__white;
						background: rgba(130,13,21,0.65);
						text-align: center;
						font-size: 81%;
					}
				}
			}
		}
	}
}

// media queries
@media screen and (min-width: $nav-breaks) {
	.m-interest-posts {
		ul {
			li {
				width: 48%;
				margin: 0 1% 0 0;
			}
		}
	}
}