.m-entry-content {

	.m-minnpost-spills-widget {
		margin-top: 21px;
		margin-bottom: 20px;
		border-bottom: 1px solid $color__gray-lightest;
		padding-bottom: 20px;

		.a-widget-title {
			/*font-size: 123.1%;
			text-transform: uppercase;
			font-family: $font__headings;
			font-weight: normal;*/
			margin-bottom: 0.75em;

			a {
				color: $color__minnpost-red;
			}
		}

		.m-widget-contents > p {
			padding-bottom: 0.75em;
			margin: 0;
			font-size: $content-font-size;
			line-height: 1.3em;
		}

		article {
			margin: 0.75em 0;

			.a-post-category {
				margin-bottom: 0.25em;
			}

			.a-spill-item-title {
				margin: 0;

				a {
					color: $color__minnpost-black;
				}
			}
		}
	}
}
