.o-wrapper-content-full .m-layout-primary {
	@include outer-container($max-width-page);
}
body.post .m-layout-primary, body.page .m-layout-primary {
	flex: 0 0 100%;
}

main {
	position: relative;
	@include clearfix;
}
body.post main, body.page main {
	flex: 0 0 100%;
}

// media queries for layouts

@media screen and (min-width: $more-than-logo-screen) {
	.m-layout-primary {
		display: flex;
	}
}

@media screen and (min-width: $max-width-page) {
	.m-layout-primary {
		max-width: $medium-screen;
	}
}