.m-ad-region-leaderboard .g {
	grid-row: 1;
}

.o-header, .o-footer {
	grid-row: 2;
}
.o-footer {
	grid-row: 4;
}

#primary {
	//max-width: 640px;
}

.o-site-sidebar {
	grid-column: col 10 / span 3;
    //grid-row: 3;
    grid-row: 1;
}

.site-main {
//	grid-column: col-start / span 10;
	grid-row: 1;
}
.o-content-sidebar {
	grid-column: col 11 / span 5;
	grid-row: 1;
}

