.m-secondary-navigation, .m-featured-navigation, .m-pagination {
	position: relative;
	ul {
		list-style: none;
		display: flex; 
		justify-content: flex-start;
		margin: 0;
		padding: 0;
	}
	li {
		line-height: normal;
	}
}

#navigation-ext {
	width: 100%;
	display: flex;
}

#minnpost-network {
	display: none;
	margin: 2px 30px 8px 0;
	a {
		@include hide-text;
		width: 25px;
		height: 25px;
		display: block;
		background: url('assets/img/sprites/social-lg.png') no-repeat;
		&:hover {
			opacity: .65;
		}
	}
	li:not(:last-child) {
		padding-right: 5px;
	}
	li.subscribe {
		padding-left: 7px;
	}
	li.subscribe a {

	}
	li.twitter a {
		background-position: -25px 0;
	}
	li.facebook a {
		background-position: -50px 0;
	}
	li.youtube a {
		background-position: -100px 0;
	}
	li.rss-feeds a {
		background-position: -125px 0;
	}
}

#secondary-links {
	display: flex;
	justify-content: flex-end;
	flex-basis: 100%;
	margin-top: 48px;
	margin-bottom: 0;
	position: absolute;
	li:not(:last-child) {
		padding-right: 15px;
	}
	a {
		font-weight: bold;
	}
}

.m-main-navigation {
	font-size: 123.1%;
	font-family: $font__headings;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	-moz-font-feature-settings: "calt=0,dlig=0,ss01=0,liga=0";
	-moz-font-feature-settings: "calt" 0,"dlig" 0,"ss01" 0,"liga" 0;
	background: $color__minnpost-black;
	padding-top: 5px;
	min-height: 44px;
	margin-bottom: 30px; // this is for the secondary nav to be visible
	button {
		display: inline-block;
		-webkit-appearance: none;
		border: 0;
		margin: 9px 0 0 6px;
		text-indent: 6px;
		padding: 0;
		line-height: normal;
		cursor: pointer;
		font: inherit;
		color: $color__white;
		background: transparent;
		text-transform: uppercase;
		overflow: visible;
		-moz-user-select: text;
		&:hover, &:focus {
			background: $color__minnpost-white;
			color: $color__minnpost-black;
		}
		&:after {
		    content: " \25BC";
		}
	}
	ul {
		list-style: none;
		display: none;
		justify-content: flex-start;
		margin: 7px 0 0 0;
		padding: 0;
		flex-grow: none;
		flex-wrap: nowrap;
	}
	&.toggled {
		button {
			&:after {
				content: " \25B2";
			}
		}
		ul {
			display: block;
			columns: 2;
		}
	}
	li {
		text-transform: uppercase;
		flex-shrink: 0;
    	flex: 0 0 auto;
		&:last-child, &:nth-last-child(2) {
			text-transform: none;
		}
		&:last-child {
			margin-left: auto;
		}
		&:nth-last-child(2) {
			order: 9;
		}
	}
	li a {
		padding: 6px;
		color: $color__white;
		text-decoration: none;
		display: inline-block;
	}
	li a:hover, li a:focus, li a:active, li.active a, li.active-parent a {
		background: $color__minnpost-white;
		color: $color__minnpost-black;
	}
}

.m-featured-navigation {
	display: none;
	justify-content: flex-start;
	line-height: normal;
	padding: 8px;
	background: $color__minnpost-white;
	.a-nav-label {
		text-transform: uppercase;
		font-weight: normal;
		font-size: 76.9%;
		line-height: 1.3em;
		padding: 2px 10px 0 0;
	}
	li {
		line-height: 1.4em;
		font-weight: bold;
		font-size: 92.3%;
		&.support-minnpost a {
			color: $color__minnpost-red;
		}
	}
	a {
		color: $color__minnpost-black;
		padding-right: 15px;
	}
	li.active a {
		color: $color__minnpost-red;
	}
}

// still going to need a menu for login stuff at some point

.m-pagination {
	max-width: 100%;
	width: 100%;
	background: $color__minnpost-white;
	padding: 5px;
	margin-bottom: 1.5em;
	ul {
		justify-content: center;
		text-align: center;
		font-size: 76.9%;
		text-transform: uppercase;
		font-family: $font__sans;
	}
	li {
		padding: 0.5em;
		&.current {
			font-weight: bold;
		}
	}
}

.o-footer .m-secondary-navigation {
	//grid-column: col-start / span 12;
	ul {
		justify-content: center;
		li {
			margin-right: 20px;
			font-weight: bold;
			line-height: $base-line-height-em;
			&.active a {
				color: $color__minnpost-black;
			}
		}
	}
}

// media queries for menus
@media screen and (min-width: 560px) {
	#secondary-links {
		margin-top: -21px;
		position: relative;
	}
}

@media screen and (min-width: $medium-screen) {
	.m-featured-navigation {
		display: flex;
	}
	.m-main-navigation {
		margin-bottom: 0;
		&.toggled ul {
			display: block;
			columns: 3;
		}
	}
}

@media screen and (min-width: $medim-margins-too-small) {
	.m-pagination {
		margin-bottom: 0.75em;
	}
}

@media screen and (min-width: $nav-breaks) {
	#navigation-ext {
		width: auto; // maybe can use auto here
		text-align: right;
		height: $header-height-after-nav-breaks;
		line-height: normal;
		flex-flow: row wrap;
		justify-content: flex-end;
		position: relative;
	}
	#minnpost-network {
		display: flex;
		margin: 2px 29px 10px 0
	}
	#secondary-links {
		margin-top: -1px;
	}
	.m-main-navigation {
		button {
			display: none;
		}
		ul, &.toggled ul {
			display: flex;
			li a {
				padding: 8px;
			}
		}
	}
}

@media screen and (min-width: $nav-breaks) and (max-width: $nav-wrap-screen) {
	.m-main-navigation {
		ul, &.toggled ul {
			flex-grow: 2;
			flex-wrap: wrap;
			li:nth-last-child(2) {
				order: inherit;
				margin-left: auto;
			}
			li a {
				padding: 8px 4px;
			}
		}
	}
}

@media screen and (min-width: $max-width-page) {
	#navigation-ext {
		width: auto;
	}
	#minnpost-network {
		margin: 2px 30px 8px 0;
	}
	.m-main-navigation {
		letter-spacing: 1px;
		ul {
			li a {
				padding: 8px;
			}
		}
	}
}