.m-entry-content .m-member-info {
	background: $color__minnpost-white;
	padding: 1em;
	position: relative;
	margin: 0 0 1.5em 0;
	dt.a-member-level, dd.a-member-level {
		display: inline;
	}
	dt.a-member-level {
		marin: 0 0 0.2em 0;
		font-weight: bold;
		&:after {
			content: ':';
		}
	}
	dd {
		margin: 0 0 1em 0;
	}
}