$a-user-initial-size: 18px;
$a-initial-right-margin: 12px;
//$nav-common-spacing: 6px;

nav {

	svg {
		pointer-events: none;
	}

	/*li span.a-arrow-down {
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid $color__minnpost-black;
		position: absolute;
		display: block;
		//top: $nav-common-spacing;
		right: 0;
	}*/
}

.m-secondary-navigation,
.m-featured-navigation,
.m-pagination {
	position: relative;

	ul {
		list-style: none;
		display: flex;
		justify-content: flex-start;
		margin: 0;
		padding: 0;
	}

	li {
		line-height: normal;
	}
}

.m-main-navigation {

	@include meta-preset( $size: 1, $bold: true, $italic: false );
	line-height: normal;
	border-bottom: 2px solid neutral-color(dark);
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	
	button {
		-webkit-appearance: none;
		user-select: text;
		cursor: pointer;
		border: 0;
		padding: $standard-block-padding / 2;
		font: inherit;
		color: neutral-color(dark);
		background: transparent;
		display: inline-flex;
		align-items: center;

		span {
			display: inline-flex;
			padding-left: $standard-block-padding / 2;
		}

		&:hover,
		&:focus,
		&[aria-expanded="true"] {
			background: neutral-color(dark);
			color: neutral-color(white);
		}
	}

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		&[hidden] {
			display: none;
		}

		li {
			position: relative;

			a {
				display: inline-flex;
				text-decoration: none;
				line-height: normal;
				padding: $standard-block-padding / 2 $standard-block-padding;
				align-items: center;
				svg {
					height: 1em;
  					width: 1em;
  					margin: $standard-block-padding / 2 0;
				}
			}
		}
	}

	.m-menu-primary-links,
	> ul ul {
		position: absolute;
		z-index: -1;
		background: neutral-color(dark);
		color: neutral-color(white);
		position: absolute;
		top: -$standard-block-padding;
		left: -$standard-block-padding;
		padding: 0 0 $standard-block-padding / 2 0;
		margin: 0;
		flex-direction: column;

		li {
			z-index: 10000;

			&:first-child {
				margin-top: 2.5em;
			}

			a {
				width: 100%;
				font-weight: 500;
				background: neutral-color(dark);
				color: neutral-color(white);

				&:hover,
				&:focus,
				&.active {
					background: neutral-color(black);
					color: neutral-color(white);
				}
			}
		}
	}

	.m-menu-primary-actions {
		width: 100%;
		justify-content: flex-end;
		flex-grow: 0;
		flex-wrap: nowrap;
		align-items: center;

		li {
			flex-shrink: 0;
			display: none;

			&[data-menu-item-priority="10"] {
				display: block;
			}

			a {
				display: inline-flex;
				color: neutral-color(dark);
				background: transparent;
				//margin: 0 $standard-block-padding / 2;
				margin: 0;

				&:hover,
				&:focus,
				&:active {
					background: neutral-color(dark);
					color: neutral-color(white);
				}
			}

			&:last-of-type a {
				//margin: 0;
				//padding: 0;
			}

			&.search {
				position: relative;

				a.toggled-form {
					//background: $color__minnpost-white;
					//color: $color__minnpost-black;
				}

				form {
					display: none;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 100;
					//padding-right: 8px;

					fieldset {
						margin: 0;
						padding: 0;
						border: 0;

						input {
					//		height: 30px;
						}
					}

					&.toggled-form {
						display: block;
					}
				}
			}
		}

		ul {
			position: absolute;
			opacity: 0;
			visibility: hidden;

			&.is-expanded {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	/*&.toggled {

		button {
		}

		> ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}*/

	&.toggled {

		li {
			//flex: 1 1 50%;

			/*&.search {
				width: 100%;
				display: block;
				flex: none;
				min-height: 38px;
				margin-bottom: $nav-common-spacing;

				form {
					display: block;
					left: 0;
					right: auto;
					padding-right: 0;
					padding-left: $nav-common-spacing;
				}
			}*/
		}
	}

	li a:hover,
	li a:focus,
	li a:active,
	li.active > a,
	li.active-parent a {
		//background: $color__minnpost-white;
		//color: $color__minnpost-black;
	}
}

#navigation-featured-account-access {
	display: flex;
	padding: 8px;
	//background: $color__minnpost-white;
}

.m-featured-navigation {
	display: none;
	justify-content: flex-start;
	line-height: normal;
	//background: $color__minnpost-white;

	.a-nav-label {
		//text-transform: uppercase;
		font-weight: normal;
		//font-size: 76.9%;
		//line-height: 1.3em;
		//padding: 2px 10px 0 0;
	}

	li {
		//line-height: 1.4em;
		//font-weight: bold;
		//font-size: 92.3%;

		&.support-minnpost a {
			color: $color__minnpost-red;
		}
	}

	a {
		color: $color__minnpost-black;
		padding-right: 15px;
	}

	li.active a {
		color: $color__minnpost-red;
	}
}

#navigation-user-account-access {
	margin-left: auto;
	float: right;
	position: relative;

	#user-account-access > li + li::before {
		content: "|";
		color: $color__minnpost-black;
		padding: 0 1em;
	}

	li.active > a {
		color: $color__minnpost-black;
	}

	li a {
		text-decoration: none;
	}

	li a:hover span.name,
	li a:focus span.name,
	li a:active span.name,
	ul li a:hover,
	ul li a:focus,
	ul li a:active {
		text-decoration: underline;
	}

	/*li span.name {
		display: inline-block;
		margin-right: 0;
	}*/

	ul ul {
		position: absolute;
		z-index: 100;
		width: 120%;
		padding: 0.5em;
		margin-top: 1em;
		background: $color__gray-sub-menu;
		right: -2px;
		display: none;

		&.visible {
			display: block;
		}

		&::before {
			content: "\A";
			width: 0;
			height: 0;
			//border-left: $nav-common-spacing solid transparent;
			//border-right: $nav-common-spacing solid transparent;
			//border-bottom: $nav-common-spacing solid $color__gray-sub-menu;
			//top: -$nav-common-spacing;
			position: absolute;
			right: 20px;
		}

		li {
			display: block;
			padding: 0.25em;
			line-height: 1.3;

			a {
				display: block;
			}
		}
	}
}

#navigation-user-account-management {
	z-index: 10;
	position: relative;

	button {
		display: inline-block;
		-webkit-appearance: none;
		border: 0;
		//margin: 0 0 0 $nav-common-spacing;
		text-indent: $form-text-indent;
		padding: 0;
		line-height: inherit;
		vertical-align: middle;
		cursor: pointer;
		font: inherit;
		//color: $color__minnpost-black;
		background: transparent;
		overflow: visible;
		-moz-user-select: text;
		/*text-transform: uppercase;
		font-weight: bold;
		font-family: $font__sans;
		font-size: 76.9%;*/

		&:hover,
		&:focus {
			//background: $color__minnpost-white;
		}
	}

	ul {
		display: flex;
		flex-grow: 0;
		flex-wrap: nowrap;
		flex-direction: column;
		background: $color__gray-sub-menu;
		justify-content: space-between;
		margin: 1em 0;
		padding: 0 0.5em;

		li {
			display: none;
			line-height: 3em;

			a {
				display: inline-block;
				height: 3em;
				background: transparent;
				font-weight: normal;
				vertical-align: middle;
				position: relative;
				white-space: nowrap;
			}

			&.active > a {
				font-weight: bold;
			}

			&:first-of-type {
				display: block;
			}
		}
	}

	&.toggled {

		button {
		}

		ul {

			li {
				display: block;
			}
		}
	}
}

.m-pagination {
	max-width: 100%;
	width: 100%;
	//background: $color__minnpost-white;
	padding: 5px;
	margin-bottom: 1.5em;

	ul {
		justify-content: center;
		text-align: center;
		/*font-size: 76.9%;
		text-transform: uppercase;
		font-family: $font__sans;*/
	}

	li {
		padding: 0.5em;

		&.current,
		span.current {
			font-weight: bold;
		}
	}
}

.o-footer .m-secondary-navigation {

	#minnpost-network {
		margin: 0;

		a {
			display: block;
			font-size: $share-icon-size;
			color: neutral-color(white);

			&:hover {
				opacity: 0.65;
			}
		}
	}

	ul {
		justify-content: center;
		flex-wrap: wrap;

		li {
			font-weight: bold;

			&.active > a {
			//	color: $color__minnpost-black;
			}

			&:not(:last-child) {
				margin-right: $standard-block-margin;
			}
		}
	}
}

// media queries for menus

@media screen and (min-width: $medium-screen) {

	.m-featured-navigation {
		display: flex;
	}

	.m-main-navigation {
		margin-bottom: 0;

		&.toggled {

			li {
				flex: 1 1 33%;
			}
		}
	}
}

@media screen and (min-width: $medium-screen) and (max-width: $nav-move-end) {

	#navigation-user-account-access {

		li span.name {
			margin-right: $a-initial-right-margin;
		}

		li span.a-user-initial {
			display: none;
		}
	}
}

@media screen and (min-width: $medium-margins-too-small) {

	.m-pagination {
		margin-bottom: 0.75em;
	}
}

@media screen and (min-width: $nav-breaks) {

	.m-main-navigation {
		display: flex;
		align-items: flex-end;

		button {
			display: none;
		}

		ul,
		&.toggled ul {
			display: flex;

			li {

				&.search {

					form {
						right: 24px;
						top: 1px;
					}
				}
			}
		}
	}

	#navigation-user-account-management {

		button {
			display: none;
		}

		ul,
		&.toggled ul {
			flex-direction: row;

			li {
				display: block;
			}
		}
	}
}

@media screen and (min-width: $nav-breaks) and (max-width: $nav-wrap-screen) {

	.m-main-navigation {

		ul,
		&.toggled ul {
			flex-grow: 2;
			flex-wrap: wrap;
		}
	}
}

@media screen and (min-width: $nav-move-end) and (max-width: $nav-wrap-screen) {

	.m-main-navigation {

		ul,
		&.toggled ul {
			justify-content: flex-end;
		}
	}
}
