.m-membership-reasons {
	margin-bottom: 2em;
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;

	article {
		border: 1px solid $color__border-input;
		padding: 0.5em;
		width: 48%;

		h3 {
			font-size: 123.1%;
			margin-bottom: 0.5em;
			background: $color__gray-dark;
			color: $color__white;
			padding: 0.5em;
			font-family: $font__headings;
			font-feature-settings: "calt" off, "dlig" off, "ss01" off, "liga" off;
			font-weight: normal;
			font-style: normal;
			font-variant: normal;
		}
	}
}

@media screen and (min-width: $nav-breaks) {

	.m-membership-reasons {
		flex-wrap: nowrap;
		height: 200px;

		article {
			margin-bottom: 0;
			max-width: 24%;
		}
	}
}
