.m-membership-member-level {
	margin-bottom: $standard-block-margin;

	.m-member-level-brief {
		border: $border-default-style;
		padding: $standard-block-padding;
		margin-bottom: $standard-block-margin;

		h2,
		h3,
		select {
			color: neutral-color(black);
			font-family: $webfont__sans;
		}

		input,
		textarea {
			font-family: $webfont__sans;
		}

		h2 {
			margin: 0 0 $standard-block-padding 0;
			padding: $standard-block-padding 0;
		}

		h3 {
			font-size: var(--scale4);
			padding: 0 0 $standard-block-padding 0;
		}

		select {
			display: block;
			margin: 0 auto $standard-heading-margin auto;
			text-align: center;
		}

		.enter {
			h3 .m-form-item input {
				font-family: $webfont__sans;
				border: $border-default-style;
			}

			.a-button {
				margin: 0 auto $standard-block-padding auto;
			}
		}
	}

	.m-member-level-benefits {

		ul {
			color: neutral-color(dark);

			li {
				padding: 0 $standard-block-padding;
				//line-height: 1.5;
				margin-bottom: $standard-block-margin;
			}
		}
	}

	&:hover .m-member-level-benefits,
	&.active .m-member-level-benefits {

		ul {
			color: neutral-color(black);
		}
	}

	&.m-membership-member-level-member_bronze .m-member-level-brief {

		h2 {
			background: $color__minnpost-bronze;
		}
	}

	&.m-membership-member-level-member_silver .m-member-level-brief {

		h2 {
			background: $color__minnpost-silver;
		}
	}

	&.m-membership-member-level-member_gold .m-member-level-brief {

		h2 {
			background: $color__minnpost-gold;
		}
	}

	&.m-membership-member-level-member_platinum .m-member-level-brief {

		h2 {
			background: $color__minnpost-platinum;
		}
	}
}
