.m-entry-content .m-member-info {
	background: neutral-colors(light);
	padding: $standard-block-padding;
	position: relative;
	margin: 0 0 $standard-block-margin 0;

	&.m-member-info-platinum {
		background: $color__minnpost-platinum;
	}

	&.m-member-info-gold {
		background: $color__minnpost-gold;
	}

	&.m-member-info-silver {
		background: $color__minnpost-silver;
	}

	&.m-member-info-bronze {
		background: $color__minnpost-bronze;
	}

	dt.a-member-level,
	dd.a-member-level {
		display: inline-block;
	}

	dt.a-member-level {
		margin: 0 0 $standard-block-padding / 2 0;
		font-weight: 700;

		&::after {
			content: ":";
		}
	}

	dd {
		margin: 0 0 $standard-block-padding * 2 0;
	}
}
