.m-membership-member-level {

	.m-member-level-brief {

		h2,
		h3,
		select {
			color: $color__minnpost-black;
			font-family: $webfont__sans;
		}

		h2 {
			font-size: 1em;
		}

		select {
			color: $_color-base-gray;
			display: block;
			margin: 0 auto 0.75em auto;
			text-align: center;
		}

		.enter .m-form-item input {
			font-family: $webfont__sans;
		}
	}

	&.m-membership-member-level-member_bronze .m-member-level-brief {

		h2 {
			background: $color__minnpost-bronze;
		}
	}

	&.m-membership-member-level-member_silver .m-member-level-brief {

		h2 {
			background: $color__minnpost-silver;
		}
	}

	&.m-membership-member-level-member_gold .m-member-level-brief {

		h2 {
			background: $color__minnpost-gold;
		}
	}

	&.m-membership-member-level-member_platinum .m-member-level-brief {

		h2 {
			background: $color__minnpost-platinum;
		}
	}
}
