.m-post-classification,
.m-page-classification {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	padding: $standard-block-padding 0;
}

.single-post {

	.m-post-classification,
	.m-page-classification {
		padding-top: 0;
	}
}
