.m-post-paywalled {

	.m-entry-content-paywalled {
		padding: $standard-block-padding;
		margin: $standard-block-margin 0;
		border: $border-default-style;
		width: auto;
		background: neutral-color(white);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		section {
			margin-bottom: $standard-block-margin;

			@include breakpoint-min( md ) {
				width: 48%;
				margin-bottom: 0;
			}

			fieldset {
				margin-bottom: $standard-block-margin;
			}
		}

		h2 {
			width: 100%;
		}
	}
}
