.m-post-paywalled {
	.m-entry-content-paywalled {
		padding: 1em;
		margin-bottom: 1em;
	    border: 1px solid $color__gray-light;
	    width: auto;
	    background: $color__white;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    section {
	    	margin-bottom: 1em;
	    }
	    h2 {
	    	width: 100%;
	    }
	    h2, h3 {
	    	line-height: 1.15em;
	    	font-family: $font__headings;
			font-feature-settings: "calt" off,"dlig" off,"ss01" off,"liga" off;
			font-weight: normal;
			font-style: normal;
			font-variant: normal;
			margin-bottom: 0.5em;
	    }
	    h2 {
	    	font-size: 300%;
	    }
	    h3 {
	    	font-size: 154%;
	    }
	    p {
	    	font-size: $content-font-size;
	    	line-height: 1.5em;
	    }
	    fieldset {
	    	font-size: $content-font-size;
	    	line-height: 1.5em;
	    }
	    small {
	    	font-size: 74%;
	    }
    }
}

@media screen and (min-width: $nav-breaks) {
	.m-post-paywalled {
		.m-entry-content-paywalled {
			section {
				width: 48%;
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (min-width: $max-width-page ) {
	.m-post-paywalled {
		.m-entry-content-paywalled {
			margin-bottom: 0;
		}
	}
}