.m-post-image {
	display: block;
	&.m-post-image-large {
		font-size: 1.23em;
	}
}
.m-archive-top .m-post-image, .m-archive-excerpt .m-post-image {
	margin-bottom: 20px;
	margin-right: 20px;
}
.m-archive-top.m-archive-has-1-post .m-post-image {
	float: none;
	margin: 0;
}

@media screen and (min-width: 350px) {
	.m-archive-top .m-post-image, .m-archive-excerpt .m-post-image {
		float: left;
	}
}