.m-post-image {
	display: table;
	margin-top: 0;

	img {
		display: block;
	}

	figcaption {
		display: table-caption;
		caption-side: bottom;
	}
}

.m-archive-top .m-post-image,
.m-archive-excerpt .m-post-image,
.m-archive-homepage .m-post-image {
	margin-bottom: $standard-heading-margin;

	@include breakpoint-min( sm ) {
		width: 100%;
	}
}

.m-archive-top .m-post-image {
	margin-left: 0;

	@include breakpoint-min( sm ) {
		margin-bottom: 0;
		margin-bottom: $standard-heading-margin;
		width: auto;
	}
}
