//$minimum-width: 130px;

.m-related {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 $standard-block-margin 0;

	h3 {
		font-size: var(--scale0);
	}

	.a-related-list {
		@include body-preset( $size: -2 );
		list-style: none;
		padding: $standard-block-padding 0 0 0;
		margin: 0 0 $standard-block-margin 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		li {
			margin: 0 0 $standard-block-margin 0;
			padding: 0 $standard-block-padding;
			flex-basis: 25%;
			flex-grow: 1;

			&:last-of-type {
				margin-bottom: 0;
			}

			.a-entry-title {
				margin: $standard-block-padding / 2 0;
			}

			.m-entry-byline {
				margin-bottom: $standard-block-padding / 2;
			}

			.m-post-image {
				margin: 0;

				img {
					margin: 0;
					max-width: 100%; // for older items without proper thumbnails

					&:last-child {
						margin-bottom: $standard-block-padding;
					}
				}
			}
		}
	}
}


// media queries for related content
@media screen and (min-width: $size__ad-flexing) {

	.m-related {

		> h3 {
			padding: $standard-block-padding;
			flex-grow: 1;
			border-bottom: $border-default-style;
			order: 2;

			&:first-of-type {
				flex-grow: initial;
				order: 1;
				border-top: $border-default-style;
				border-right: $border-default-style;
				border-bottom: 0;
			}

			&:nth-of-type(2) {
				padding-left: $standard-block-padding * 2;
			}
		}

		.a-related-list {
			order: 3;
			margin-bottom: 0;
		}
	}
}
