.o-site-sidebar section {
	margin-bottom: 20px;
	outline: 1px solid $color__gray-lightest;
	border: 15px solid $color__minnpost-white;
	background: $color__white;
	&.m-minnpost-spills-widget .a-widget-title {
		margin: 0;
		padding: 20px;
		padding-bottom: 0;
		font-size: 123.1%;
		text-transform: uppercase;
		font-family: $font__headings;
		font-weight: normal;
		a {
			color: $color__minnpost-red;
		}
	}
	.m-widget-contents {
		padding: 0 20px;
		padding-bottom: 10px;
	}
	.m-post-spill {
		margin: 0.75em 0;
	}
	.a-spill-item-category {
		margin: 0;
	}
	.a-spill-item-title {
		margin: 0;
		a {
			color: $color__minnpost-black;
		}
	}
}