.m-support-progress {

	a,
	span {
		font-family: $webfont__sans;
		color: neutral-color(white);
		border-right: $border-default-style;
	}

	a::before,
	span::before {
		font-family: $webfont__sans;
	}
}
