.o-content-sidebar section {
	margin-bottom: 15px;
	border: 1px solid $color__gray-lightest;
	padding: 15px;
	.a-widget-title, .a-sidebar-box-title {
		font-size: 123.1%;
		text-transform: uppercase;
		font-family: $font__headings;
		font-weight: normal;
		margin-bottom: 0.75em;
	}
	ul {
		margin: 0;
		list-style: none;
		padding: 0;
		li {
			margin-bottom: 0.75em;
		}
	}
	&.the-glean {
		border: 0;
		background: $color__white;
		padding: 0;
		.a-widget-title {
			background: $color__minnpost-red;
			margin-bottom: 0;
			a {
				display: inline-block;
				color: $color__white;
				padding: 10px 16px 5px 16px;
			}
		}
	}
	&.m-featured-columns, &.widget_nav_menu {
		background: $color__minnpost-white;
	}
	.m-post-glean {
		padding: 5px 15px 15px 15px;
		border: 1px solid $color__gray-lightest;
		border-top: 0;
		.m-entry-excerpt {
			font-size: 100%;
		}
		p {
			margin-bottom: 0;
		}
		.a-glean-more {
			margin-top: 0.75em;
			a:after {
				content: ' ▸'
			}
		}
	}
}