.m-search-result-header {
	font-family: $font__sans;

	.a-search-result-title {
		font-family: $font__headings;
		font-size: 338.5%;
		line-height: 0.9em;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
	}

	.m-search-result-meta {
		font-size: 76.9%;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.3em;
		margin: 0.25em 0;
	}

	&.m-search-result-header-spill,
	&.m-search-result-header-time {
		margin-bottom: $standard-page-margin;
	}
}
