.m-support-cta {

	&.m-support-cta-top {

		@include breakpoint-min( md ) {
			font-size: 80%;
			max-width: colspan( 6, 8 );
		}

		@include breakpoint-min( lg ) {
			font-size: 80%;
			max-width: colspan( 8, 12 );
		}

		@include breakpoint-min( xl ) {
			font-size: 85%;
			max-width: colspan( 11, 16 );
		}

		@include breakpoint-min( xxl ) {
			font-size: 100%;
			max-width: none;
		}

		h2 {
			@include meta-preset( $size: 0, $bold: false, $italic: false, $line-height: 1 );

			@include breakpoint-min( xs ) {
				@include meta-preset( $size: 1, $bold: true, $italic: false, $line-height: 1 );
			}
		}
	}

	&.m-support-cta-bottom {

		.m-membership-fast-select {
			padding-top: $footer-box-spacing;

			button,
			input#amount,
			input.a-button {
				/*font-family: $font__headings;
				font-feature-settings: "calt" off, "dlig" off, "ss01" off, "liga" off;
				font-weight: 400;
				font-style: normal;
				font-variant: normal;*/
			}

			.m-form-radios {

				input[type="radio"] {
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
				}

				label {
					background: $_color-base-gray;
					color: $color__white;
					//font-family: $font__serif;
					border: 0;
				}

				input:checked + label {
					background: $_color-base-blue;
				}
			}
		}

		.m-form-actions {
			text-align: center;
		}
	}
}
