.m-search-result-info {
	padding: $standard-block-padding;
	margin: $standard-block-padding * 2 0 $standard-block-margin 0;
	border: $border-default-style;
	border-radius: $border-radius;
	background: neutral-color(light);
}
