.o-site-sidebar section,
.o-site-sidebar section.m-zone-sidebar {
	margin-bottom: $standard-block-margin;
	border: $border-default-style;
	border-radius: $border-radius;
	padding: $standard-heading-margin;
	font-size: 75%;

	@include breakpoint-min( lg ) {
		margin-bottom: auto;
	}

	.m-widget-contents {
		//padding: 0 $standard-block-padding;
		padding-bottom: $standard-block-padding / 2;

		&.m-custom-html-widget {

			.image {
				margin-bottom: $standard-block-margin;
			}
		}
	}

	&.m-widget-most-commented {

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			margin: 0 0 $standard-block-margin 0;
			padding: 0;
		}
	}

	.m-post-spill {
		margin: $standard-block-margin 0;
	}

	.a-spill-item-category {
		margin: 0;
	}

	.a-spill-item-title {
		margin: 0;
	}

	.a-spill-item-thumbnail {
		display: block;
		float: left;
		margin: 0 $standard-block-margin $standard-block-margin 0;
		max-width: 75px;
	}
}
