.o-content-sidebar section {
	margin-bottom: $standard-block-margin;
	border: $border-default-style;
	padding: $standard-block-padding;

	.a-widget-title,
	.a-sidebar-box-title {
		margin-bottom: $standard-heading-margin;
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 0;

		li {
			margin-bottom: $standard-heading-margin;
		}
	}

	&.the-glean {
		border: 0;
		background: neutral-color(white);
		padding: 0;

		.a-widget-title {
			background: brand-color(red, medium);
			margin-bottom: 0;

			a {
				display: inline-block;
				color: neutral-color(white);
				padding: $standard-block-padding $standard-block-margin
			}
		}
	}

	.m-post-glean {
		padding: $standard-block-padding;
		border: $border-default-style;
		border-top: 0;

		.m-entry-excerpt {
			font-size: 100%;
		}

		p {
			margin-bottom: 0;
		}

		.a-glean-more {
			margin-top: $standard-heading-margin;

			a::after {
				content: " ▸";
			}
		}
	}
}

// media queries for sidebar middle boxes

@media screen and (min-width: $max-width-page) {

	.o-content-sidebar section {
		padding: $standard-block-padding;

		&.m-widget-custom-html {
			padding: $standard-block-padding;
		}

		.m-post-glean {
			padding: $standard-block-padding;
		}
	}
}
