.m-support-cta {

	// cta in the site header
	&.m-support-cta-top {

		@include breakpoint-min( md ) {
			font-size: $interface-copy-size;
			max-width: colspan( 5, 8 );
		}

		@include breakpoint-min( lg ) {
			font-size: $interface-copy-size;
			max-width: colspan( 8, 12 );
		}

		@include breakpoint-min( xl ) {
			font-size: $interface-copy-size-larger;
			max-width: colspan( 12, 16 );
		}

		@include breakpoint-min( xxl ) {
			font-size: 100%;
			max-width: none;
		}

		// tagline
		h2 {
			margin: 0;

			@include meta-preset( $size: 0, $bold: false, $italic: false, $line-height: 1 );

			@include breakpoint-min( xs ) {
				@include meta-preset( $size: 0, $bold: true, $italic: false, $line-height: 1 );
			}

			@include breakpoint-min( md ) {
				padding-bottom: 0;
			}
		}
	}

	// cta in the site footer
	&.m-support-cta-bottom {

		@include breakpoint-min( md ) {
			font-size: $interface-copy-size-smaller;
			max-width: colspan( 4, 8 );
		}

		@include breakpoint-min( lg ) {
			font-size: $interface-copy-size-larger;
			max-width: colspan( 7, 12 );
		}

		@include breakpoint-min( xl ) {
			font-size: 90%;
			max-width: colspan( 9, 16 );
		}

		@include breakpoint-min( xxl ) {
			//font-size: 100%;
			max-width: colspan( 9, 16 );
		}

		header {
			margin-bottom: $standard-block-padding;
		}

		.m-membership-fast-select {
			@include body-preset( $size: -2 );

			@include breakpoint-min( xs ) {
				@include body-preset( $size: 0 );
			}

			@include breakpoint-min( sm ) {
				@include body-preset( $size: 2 );
			}

			button,
			input#amount,
			input.a-button {
				font-weight: 700;
			}

			.m-form-radios {

				input[type="radio"] {
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
				}

				label {
					background: neutral-color(dark);
					color: neutral-color(white);
					border: 0;
					&:hover,
					&:focus {
						background: neutral-color(medium);
					}
				}

				input:checked + label {
					background: utility-color(blue, dark);
					&:hover,
					&:focus {
						background: utility-color(blue, medium);
					}
				}
			}
		}

		.m-form-actions {
			text-align: center;
		}
	}
}

.o-header-support .m-support-cta.m-support-cta-top {
	text-align: left;
	flex-direction: row;
	width: auto;

	// tagline
	h2 {
		margin: 0;
		@include meta-preset( $size: 0, $bold: true, $italic: false, $line-height: 1 );
	}
}
