.m-entry-content .m-user-email-list {
	list-style: none;
	padding: 0;
	margin: 0;

	> li {
		list-style: none;
		border-bottom: $border-default-style;
		margin-bottom: $standard-block-padding;
		padding: $standard-block-padding / 2 $standard-block-padding;
		display: flex;

		ul {
			margin: 0 0 0 auto;
			padding: 0;
			list-style: none;
			display: flex;

			li {
				line-height: normal;
				list-style: none;
				border-right: $border-default-style;
				margin: 0 $standard-block-padding 0 0;
				padding: 0 $standard-block-padding 0 0;
				position: relative;

				label {
					margin-bottom: 0;
					line-height: normal;
					display: inline-block;
					@include link-underline();
					transition: $hover-transition;
					cursor: pointer;

					&:hover {
						@include link-underline(utility-color(blue, medium), utility-color(blue, background));
					}
				}

				&:last-child {
					border-right: 0;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}

		&.a-user-email-primary small {
			font-weight: 700;
		}
	}
}

.js .m-entry-content .m-user-email-list {

	> li {

		ul li {

			&.a-form-confirm label {
				text-decoration: none;
				cursor: text;
				color: neutral-color(black);

				a {
					cursor: pointer;
				}
			}

			input[type="radio"],
			input[type="checkbox"] {
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
			}
		}

		#a-confirm-primary-change,
		#a-confirm-removal {
			font-weight: 700;
		}
	}
}
