.m-user-always-show-comments {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: $border-default-style;
	border-left: 0;
	border-right: 0;
	padding: $standard-block-padding / 2 $standard-block-padding;

	label.always-show-comments,
	span.always-show-comments {
		@include meta-preset( $size: 0 );
	}

	label.always-show-comments {
		cursor: pointer;
		max-width: 60%;
	}

	&.m-user-always-show-comments-after {
		margin: $standard-block-padding + $standard-block-margin 0;
	}
}
