// theme-specific styles for site messages that aren't styled elsewhere

// banner type theming
.m-wp-insert-message-item-banner {

	h3 {
		font-family: $font__headings;
		font-size: $large-title-font-size;
		font-feature-settings: "calt" off, "dlig" off, "ss01" off, "liga" off;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
	}

	a.a-button {
		font-size: $large-title-font-size;
	}
}