// default styles for wp messages from the message plugin
.wp-message-inserter-message {
	// instory email form message
	border: 1px solid $color__border-light;
	padding: 0.5em 0 1.5em 0;
	h3, p {
		padding: 0 0.5em;
		margin-bottom: 1em;
	}
	h3:last-child, p:last-child {
		margin-bottom: 0;
	}
	&.wp-message-inserter-message-email-form-instory {
		form {
			border: 0;
			padding: 0;
		}
	}
}