.m-homepage-zones {

	.m-zone-homepage-middle {

		section.m-widget-glean-home-content {
			border-top: $border-default-style;
			padding-top: $standard-block-margin;
		}
	}

	section.m-widget-glean-home-content {
		border-bottom: $border-default-style;
		padding: $standard-block-padding;
		margin-bottom: $standard-block-margin;
		background: neutral-color(highlight);

		.a-widget-title {
			background: neutral-color(medium);
			border-radius: $border-radius;
			margin-bottom: $standard-block-padding / 2;

			@include meta-preset( $bold: true );

			a {
				display: block;
				padding: $standard-block-padding;
				@include link-underline(neutral-color(white), neutral-color(light));
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					@include link-underline(neutral-color(white), neutral-color(light));
					text-decoration: underline;
				}

			}
		}

		article.m-post-glean {
			width: 100%;
			border: 0;
			margin: 0;
			padding: 0;
			
			.m-entry-content {
				margin-right: 0;
				width: 100%;
			}

			.m-entry-excerpt {
				font-size: 100%;
				margin-bottom: $standard-block-padding;
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

// media queries for sidebar middle boxes

/*@media screen and (min-width: $max-width-page) {
	section.m-widget-glean-home-content {
		padding: 15px;
		.m-post-glean {
			padding: 5px 15px 15px 15px;
		}
	}
}*/
