.m-homepage-zones {

	.m-zone-homepage-middle {

		section.m-widget-glean-home-content {
			border-top: $border-default-style;
			padding-top: $standard-block-margin;
		}
	}

	section.m-widget-glean-home-content {
		border-bottom: $border-default-style;
		padding: $standard-block-padding;
		margin-bottom: $standard-block-margin;
		background: neutral-color(highlight);
		border-radius: $border-radius;
		width: 100%;
		@include body-preset( $size: -1 );

		.a-widget-title {
			background: brand-color(red, medium);
			border-radius: $border-radius;
			margin-bottom: $standard-block-padding / 2;
			color: neutral-color(white);

			@include meta-preset( $bold: true );

			a {
				display: block;
				padding: $standard-block-padding;

				&:link,
				&:visited {
					color: inherit;
					text-decoration: none;
				}

				&:active,
				&:focus,
				&:hover,
				&.active {
					@include link-underline(neutral-color(white), neutral-color(light));
				}
			}
		}

		article.m-post-glean {
			width: 100%;
			border: 0;
			margin: 0;
			padding: 0;
			
			.m-entry-content {
				margin-right: 0;
				width: 100%;
			}

			.m-entry-excerpt {
				font-size: 100%;
				margin-bottom: $standard-block-padding;
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}
