.m-widget-site-branding {

	.a-site-branding {
		margin: 0;
	}

	@include breakpoint-min( xs ) {
		.a-site-branding {
			max-width: colspan( 4, 6 );
		}
	}

	@include breakpoint-min( sm ) {
		max-width: colspan( 4, 6 );
		.a-site-branding {
			max-width: colspan( 3, 4 );
		}
	}

	@include breakpoint-min( md ) {
		max-width: colspan( 4, 8 );
	}

	@include breakpoint-min( lg ) {
		max-width: colspan( 5, 12 );

		.a-site-branding {
			max-width: colspan( 4, 5 );
		}
	}

	@include breakpoint-min( xl ) {
		max-width: colspan( 6, 16 );

		.a-site-branding {
			max-width: colspan( 5, 6 );
		}
	}
}
