.o-site-sidebar section.m-widget-picked-for-you {

	.a-widget-title {
		/*text-transform: uppercase;
		font-family: $font__headings;
		font-weight: normal;*/

		a {
			color: brand-color(red, medium);
		}
	}

	.m-widget-contents.m-custom-html-widget {
		margin: $standard-heading-margin 0;
	}
}
