.m-homepage-zones {
	margin-top: 0.5em;
	flex-wrap: wrap;
	display: flex;

	.m-zone {
		//padding-bottom: 20px;
		margin-bottom: $standard-block-margin;
		border-bottom: 1px solid $color__gray-lightest;

		&.m-zone-homepage-top { // no margin or border because the article already has it
			border-bottom: 0;
			margin-bottom: 0;
		}

		&.m-zone-homepage-middle {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
			border-bottom: 0;
			margin-bottom: 0;
		}

		&.m-zone-homepage-bottom {
			margin-bottom: 0;
			border-bottom: 0;
		}

		&.m-zone-homepage-middle article {
			width: 47.5%;
			margin-bottom: $standard-block-margin;
		}
	}
}

// media queries for zones
@media screen and (min-width: $size__ad-flexing) {

	.m-homepage-zones {

		.m-zone {

			&.m-zone-sidebar-recommended {
				margin-left: $standard-block-margin;
			}
		}
	}
}

@media screen and (min-width: $max-width-page) {

	.m-homepage-zones {

		.m-zone {

			&.m-zone-sidebar-recommended {
				margin-left: 0;
			}
		}
	}
}
