.m-zone-sidebar {

	h3.a-zone-title {
		/*font-size: 123.1%;
		text-transform: uppercase;
		font-family: $font__headings;
		font-weight: normal;*/
		padding: $standard-block-margin;
		margin: 0;

		a {
			color: neutral-color(black);
		}
	}

	.m-zone-contents {
		padding: 0 $standard-block-margin $standard-block-margin / 2;

		article {
			padding-bottom: $standard-block-margin;
			border-bottom: $border-default-style;
			margin-bottom: $standard-block-margin;

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
				margin-bottom: 0;
			}

			.m-post-thumbnail {
				float: right;
				margin-left: $standard-block-padding;
			}
		}
	}
}

// media queries for sidebar zones
@media screen and (min-width: $max-width-page) {

	/*.m-zone-contents {
		font-size: 84.6153846153846%;
		line-height: 1;
	}*/
}
