main.m-homepage-zones {
	margin-top: 0.5em;
	.m-zone {
		//padding-bottom: 20px;
		margin-bottom: $standard-page-margin;
		border-bottom: 1px solid $color__gray-lightest;
		&.m-zone-homepage-top { // no margin or border because the article already has it
			border-bottom: 0;
			margin-bottom: 0;
		}
		&.m-zone-homepage-middle {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
		}
		&.m-zone-homepage-bottom {
			margin-bottom: 0;
			border-bottom: 0;
		}
		&.m-zone-homepage-middle article {
			width: 47.5%;
			margin-bottom: $standard-page-margin;
		}
	}
}