.m-homepage-zones {
	margin-top: $standard-block-padding;
	flex-wrap: wrap;
	display: flex;

	.m-zone {
		//margin-bottom: $standard-block-margin;
		//border-bottom: $border-default-style;

		&.m-zone-homepage-top { // no margin or border because the article already has it
			//border-bottom: 0;
			//margin-bottom: 0;
		}

		&.m-zone-homepage-more-top,
		&.m-zone-homepage-opinion {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
			border-bottom: 0;
			margin-bottom: 0;

			article {
				width: colspan( 6, 12 );
				margin-bottom: $standard-block-margin;
				align-content: flex-start;

				&:last-of-type {
					margin-bottom: $standard-heading-margin;
				}
			}
		}

		&.m-zone-homepage-opinion {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
}

// media queries for zones
@include breakpoint-min( sm ) {

	.m-homepage-zones {

		.m-zone {

			&.m-zone-sidebar-recommended {
				//margin-left: $standard-block-margin;
			}
		}
	}
}

@media screen and (min-width: $max-width-page) {

	.m-homepage-zones {

		.m-zone {

			&.m-zone-sidebar-recommended {
				//margin-left: 0;
			}
		}
	}
}
