.m-archive-festival {

    &.m-archive-festival-tribe_ext_speaker {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.m-festival-post-container .m-archive-festival {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
