.m-main-navigation.m-main-navigation.m-main-navigation-festival {
    border: 0;

    .m-menu-festival-menu {
        flex-direction: column; // vertical on mobile
        text-align: right;

        @include breakpoint-min( md ) {
            flex-direction: row;
            text-align: left;
        }

        li {

            > a {
				color: neutral-color(white);
                background: transparent;
                text-decoration: underline;

				&:hover,
				&:focus,
				&:active {
					background: transparent;
                    //color: neutral-color(black);
                    color: neutral-color(white);
                    text-decoration: none;
                }
            }
            &.active a {
                text-decoration: none;
            }
        }
    }
}
