.m-festival-post-event-with-image .m-post-image {
	margin-left: 0;

	@include breakpoint-min( sm ) {
		margin-bottom: $standard-heading-margin;
		width: auto;
	}

	@include breakpoint-min( md ) {
		width: 100%;
	}

	@include breakpoint-min( lg ) {
		width: auto;
	}
}