.m-archive.m-archive-events {
    
    article {
        border-bottom: $border-default-style;
        
        &:last-of-type {
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
