.m-tonight-post-event-excerpt {
    padding-bottom: $standard-heading-margin;
    border-bottom: $border-default-style;
    margin-bottom: $standard-block-margin;

    &.m-tonight-post-event-with-image {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .o-entry {
            margin-bottom: $standard-heading-margin;
        }
    }
}
