.m-newsletter-ad-region {
    
    padding: 0 0 $standard-block-margin 0;

    table.outlook-table {

        td.outlook-inner-padding,
        td.outlook-outer-padding {
            padding: $standard-block-padding 0;
        }
    }

    .item-contents {
        text-align: center;
        padding: 0 0 $standard-block-margin 0;
        border-bottom: $border-default-style;
    }
    
    @include column( $selector: '.a-newsletter-ad', $max-width: 100%, $text-align: center, $spacing: 0 0 $standard-block-margin 0, $mobile-spacing-only: 'false');
}