.m-post-newsletter {
    padding-bottom: $standard-block-margin;

    .post-contents {
        border-bottom: $border-default-style;
        padding-bottom: $standard-heading-margin;
    }

    /* if we want no border on the bottom story in a section, uncomment this
    &.m-post-newsletter-last {

        .post-contents {
            border-bottom: none;
            padding-bottom: 0;
        }
    }*/
}
