.m-post-newsletter {
    padding-bottom: $standard-block-margin;
    text-align: left;

    @include column( $selector: '.o-column.m-entry-content', $max-width: 57.5757575757576%, $vertical-align: top, $text-align: left);
    @include column( $selector: '.o-column.m-post-image', $max-width: 42.4242424242424%, $vertical-align: top);

    table.outlook-table {

        td.outlook-inner-padding {
            padding: $standard-block-padding 0;
        }
    }

    .post-contents {
        border-bottom: $border-default-style;
        padding-bottom: $standard-block-margin;
    }

    &.m-post-newsletter-last {
        padding-bottom: 0;

        td.outlook-outer-padding {
            padding: 0;
        }
    }

    /* if we want no border on the bottom story in a section, uncomment this
    &.m-post-newsletter-last {

        .post-contents {
            border-bottom: none;
            padding-bottom: 0;
        }
    }*/
}
