.m-support-cta {

    p.a-support-button {

        @media only screen and (max-width: $large-screen-width) {
            max-width: 80% !important;
            text-align: center !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}